<div class="flexbox">

    {function render_row status=[] class=''}{strip}
        <div class="t-settings-item {$class}{if $status.special} is-special{/if}" data-id="{$status.id}">
            <input type="hidden" name="status[{$status.id}][exists]" value="1">
            <header class="t-settings-header">
                <div class="t-item-icon">
                    {if !$status.special}<i class="fas fa-bars text-light-gray"></i>{/if}
                </div>
                <div class="t-item-name">

                    <span class="hide-when-opened">
                        {tasksHelper::statusNameHTML($s.id, $class)}
                    </span>

                    <span class="hide-when-closed">
                        <a href="javascript:void(0)" class="t-control-link color badge large t-status-wrapper" style="color:#{ifset($status.params.title_color, '000')|escape};background:#{ifset($status.params.button_color, 'f0f0f0')|escape};">{$status.name|escape|default:"[`New status`]"}</a>
                    </span>


                                        {****** if !empty($status.button)}
                                            <a href="javascript:void(0)" class="t-control-link" style="background:#{ifset($status.params.button_color, 'f0f0f0')|escape};">{$status.button|escape}</a>
                                        {/if *****}

                                        {***** if $status.special}
                                            {$smarty.capture.status_header}
                                        {else}
                                            <span class="hide-when-opened">
                                                {$smarty.capture.status_header}
                                            </span>
                                            <span class="hide-when-closed">
                                                <input type="text" name="status[{$status.id}][name]" value="{$status.name|escape}" placeholder="[`New status`]" class="t-control-status-name long">
                                                {if $wa->tasks->config('extended_status_settings')}
                                                    <input class="t-control-link-input" type="text" name="status[{$status.id}][button]" value="{$status.button|escape}" placeholder="[`Button label`]">
                                                    <span class="hint">[`Caption for the button that sends a task into this status`]</span>
                                                {else}
                                                    <input type="hidden" name="status[{$status.id}][button]" value="{$status.button|escape}">
                                                {/if}
                                            </span>
                                        {/if *****}

                </div>
                <div class="t-buttons-block">
                    {if !$status.special}
                        <div class="flexbox middle space-12">
                            <a href="javascript:void(0)" class="t-button-item edit-link hide-when-opened">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="javascript:void(0)" class="t-button-item delete-link">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    {/if}
                </div>
            </header>
            {if !$status.special}
                <div class="t-hidden-block status-editor-wrapper">
                    <input type="hidden" name="status[{$status.id}][params][_exist]" value="1">
                    <div class="fields form">

                        <div class="field-group custom-mb-20 custom-mt-0 custom-pt-0">

                                {*
                                    LEGACY
                                    <div class="field">
                                        <div class="name">[`Icon`]</div>
                                        <div class="value">
                                            <ul class="chips status-icon-selector">
                                                {foreach $icons as $icon}
                                                    <li{if ($status.icon_class == $icon)} class="selected"{/if}><a href="javascript:void(0)" class="t-status-icon">
                                                        <i class="fas fa-{$icon|escape}"></i>
                                                    </a></li>
                                                {/foreach}
                                            </ul>

                                        </div>
                                    </div>
                                *}
                                <input type="hidden" name="status[{$status.id}][icon]" value="{$status.icon}">

                            <div class="field">
                                <div class="name for-input bold">[`Status name`]</div>
                                <div class="value">
                                    <input type="text" name="status[{$status.id}][name]" value="{$status.name|escape}" placeholder="[`New status`]" class="t-control-status-name bold short">
                                    <span class="state-error-hint"></span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="name for-input bold">[`Button name`]</div>
                                <div class="value">
                                    <input class="t-control-link-input bold short" type="text" name="status[{$status.id}][button]" value="{$status.button|escape}" placeholder="[`Button label`]">
                                    <span class="state-error-hint"></span>
                                    <p class="hint">[`Caption on a button that sends a task into this status. Sometimes it matches the status name, but in most cases, it's a verb.`]</p>
                                </div>
                            </div>

                            <div class="field">
                                <div class="name">[`Background color`]</div>
                                <div class="value colorpicker">
                                    # <input type="text" data-type="bg" class="short small" placeholder="f0f0f0" style="width: 80px;" name="status[{$status.id}][params][button_color]" value="{ifset($status.params.button_color,'f0f0f0')|escape}">
                                    <span class="icon"><i class="rounded" style="background:#{ifset($status.params.button_color, 'f0f0f0')|escape};"></i></span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="name">[`Text color`]</div>
                                <div class="value colorpicker">
                                    # <input type="text" data-type="text" class="short small" placeholder="f0f0f0" style="width: 80px;" name="status[{$status.id}][params][title_color]" value="{ifset($status.params.title_color,'000000')|escape}">
                                    <span class="icon"><i class="rounded" style="background:#{ifset($status.params.title_color, '000000')|escape};"></i></span>
                                </div>
                            </div>

                                <!-- LEGACY: force flush all bold/italic features upon each save -->
                                    <div class="field" style="display: none;">
                                        <div class="name">[`Task title style`]</div>
                                        <div class="value no-shift"><label style="font-style:italic;">
                                            <input type="checkbox" name="status[{$status.id}][params][title_style_italic]" value="0">
                                            [`Italic`]
                                        </label></div>
                                        <div class="value no-shift"><label style="font-weight:bold;">
                                            <input type="checkbox" name="status[{$status.id}][params][title_style_bold]" value="0">
                                            [`Bold`]
                                        </label></div>
                                    </div>
                                <!-- /LEGACY -->

                        </div>

                        <div class="field-group">
                            <div class="field">
                                <div class="name">[`Assignment`]</div>
                                <div class="value no-shift">
                                {$options = [
                                    ''          => "[`Keep the assignee unchanged`]",
                                    'author'    => "[`Assign to the user who created the task`]",
                                    'user'      => "[`Force assign to`]",
                                    'select'    => "[`Allow to select the assignee`]"
                                ]}
                                {foreach $options as $value => $name}{strip}
                                        <div class="field-group__item">
                                        <label>
                                            <span class="wa-radio">
                                                <input type="radio" name="status[{$status.id}][params][assign]" value="{$value|escape}"
                                                {if ifempty($status.params.assign, '') == $value} checked{/if}
                                            >
                                                <span></span>
                                            </span>
                                            &nbsp;{$name|escape}
                                        </label>

                                        {if $value == 'user'}
                                        <div class="wa-select smaller custom-ml-12 show-when-selected" style="display:none;"">
                                            <select name="status[{$status.id}][params][assign_user]">
                                                {foreach tasksHelper::getTeam() as $u}
                                                    <option {if ifempty($status.params.assign_user, 0) == $u.id}selected{/if} value="{$u.id}">{$u.name|escape}</option>
                                                {/foreach}
                                                <option value="">[`Unassigned`]</option>
                                            </select>
                                        </div>
                                        {elseif $value == 'select'}
                                            <div class="show-when-selected small" style="display:none;margin-left:1em;"><label>
                                                <span class="wa-checkbox custom-mr-4">
                                                    <input type="checkbox" name="status[{$status.id}][params][allow_clear_assign]"
                                                    {if !empty($status.params.allow_clear_assign)} checked{/if}
                                                >
                                                    <span>
                                                        <span class="icon">
                                                            <i class="fas fa-check"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                                [`Allow making the task unassigned`]
                                            </label></div>
                                        {/if}
                                    </div>

                               {/strip}{/foreach}
                                </div>
                            </div>

                            <div class="field">
                                <div class="name">[`Comment`]</div>
                                <div class="value no-shift"><label>
                                    <span class="wa-checkbox">
                                        <input type="checkbox" name="status[{$status.id}][params][allow_comment]" value="1"{if !empty($status.params.allow_comment)} checked{/if}>
                                        <span>
                                            <span class="icon">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </span>
                                    </span>
                                    [`Show comment form`]
                                </label></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear-left"></div>
                </div>
            {/if}
        </div>
    {/strip}{/function}

    {$sidebar_html|default:''}

    <div class="content blank">

        <div class="article">
            <div class="article-body">

                <h1>[`Task statuses`]</h1>
                <p>[`Below is the global list of all statuses a task can pass through. On a project level, custom workflow can be set up by selecting particular statuses only and skipping the unwanted ones.`]</p>

                <div class="hidden block double-padded t-saved">
                    <span class="alert success"><i class="fas fa-check-circle"></i> [`Settings successfully updated`]</span>
                </div>

                <form action="?module=settings&action=save" method="post" id="settings-form">
                    <div class="t-settings-wrapper">
                        <div class="table t-settings-list" id="t-status-list">
                            {foreach $statuses as $s}


                                {if $s.id == -1}
                                    {$_status_additional_class = "is-done"}
                                {elseif $s.id == 0}
                                    {$_status_additional_class = "is-new"}
                                {else}
                                    {$_status_additional_class = ""}
                                {/if}

                                {render_row status=$s class="is-closed "|cat:$_status_additional_class}
                            {/foreach}
                            {render_row status=$empty_status class='is-opened template'}
                        </div>

                        <div class="t-add-settings-wrapper custom-mb-20">
                            <a href="javascript:void(0)" id="t-add-status-button" class="button nobutton rounded large">
                                <i class="fas fa-plus"></i> [`New status`]
                            </a>
                        </div>

                        <div class="t-save-settings-wrapper">
                            <input type="submit" class="t-save-settings-button button large" value="[`Save`]">
                            <span class="hint">[`Commit changes by clicking “Save” when done editing.`]</span>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <script>( function($) { "use strict";

        var confirm_leaving_message = "[`You have unsaved changes. Are you sure you want to leave?`]";
        var $form = $('#settings-form');

        // Submit form via XHR
        $form.submit(function(e) {
            e.preventDefault();
            $form.showLoading();
            $('#content .t-saved').slideUp();
            $.post($form.attr('action'), $form.serialize(), function (r) {
                if (r.status == 'fail') {
                    // Show form validation errors
                    $.each(r.errors, function(field_name, error) {
                        var $field = $form.find('[name="'+field_name+'"]:first');
                        $field.addClass('state-error');
                        $field.closest('.value').find('.state-error-hint').text(error);

                        if ($field.length) {
                            // showStatusForm( $field.closest('.t-settings-item') );
                        } else {
                            $field = $form.find(':submit:first');
                        }

                    });
                    $form.hideLoading();
                } else {
                    // Reload the form and show success indicator
                    $.tasks.reloadSidebar();
                    $form.find('.button.yellow').removeClass('yellow').addClass('green');
                    $.tasks.redispatch(function() {
                        var $hsaved = $('#content .t-saved').slideDown();
                        setTimeout(function() {
                            $hsaved.slideUp();
                        }, 3000);
                    });
                }
            }, 'json');
        });

        // Controller for status list
        (function() {
            var $wrapper = $('#t-status-list');

            // Click on an edit link opens the block
            $wrapper.on('click', '.edit-link', function() {
                showStatusForm($(this).closest('.t-settings-item'));
            });

            // Click on a delete link removes the status
            $wrapper.on('click', '.delete-link', function() {
                $(this).closest('.t-settings-item').remove();
                $wrapper.sortable('refreshPositions');
                $form.change();
            });

            // Click on add status button creates new row from template
            (function() {
                var counter = 0;
                var template = $wrapper.find('.template').detach()[0].outerHTML;
                $('#t-add-status-button').on('click', function() {
                    counter++
                    var html = template.replace(/%ID%/g, '__new'+counter);
                    var $status_wrapper = $($.parseHTML(html)).removeClass('template');
                    $status_wrapper.insertBefore($wrapper.children('.is-special:last'));
                    $(window).scrollTop($status_wrapper.offset().top - 80);
                    $wrapper.sortable('refresh');
                    $form.change();
                });
            })();

            // Make status list sortable
            $wrapper.sortable({
                axis: 'y',
                items: '> .t-settings-item:not(.is-special)',
                distance: 5,
                containment: 'parent',
                tolerance: 'pointer',
                handle: '.t-item-icon',
                update: function (e, ui) {
                }
            });

            // When user changes button label, update preview
            $wrapper.on('keyup', '.t-control-link-input', function() {
                var $input = $(this);
                //$input.closest('.t-settings-item').find('.t-control-link.color').text($input.val());
            });
            $wrapper.on('keyup', '.t-control-status-name', function() {
                var $input = $(this);
                if (!$(this).parent().find('.t-control-link-input').length) {
                    $(this).parent().find('[name$="[button]"]').val($input.val() ? $input.val() : '-');
                    $input.closest('.t-settings-item').find('.t-control-link.color').text($input.val() ? $input.val() : '-');
                }
            });
        })();

        // Color picker for status editors
        (function() {
            var $status_list = $('#t-status-list');
            var $wrapper = $('#t-status-list').closest('.t-settings-wrapper');
            var $colorpicker_wrapper = $($.parseHTML('<div style="position:absolute;z-index:98;display:none;"></div>')).appendTo($wrapper);
            var farbtastic = $.farbtastic($colorpicker_wrapper);

            $status_list.on('click', '.colorpicker .color, .colorpicker input', function() {
                var $field = $(this).closest('.colorpicker');
                var $icon = $field.find('.rounded');
                var $input = $field.find('input');
                var $b = $('.t-settings-item.is-opened').find('.t-control-link');
                var type = $input.data('type');

                // Attach colorpicker position to this field
                var pos = $field.position();
                $colorpicker_wrapper.css({
                    top: pos.top + $field.height(),
                    left: pos.left + 130
                });

                // When user selects color, change colors in table cell
                farbtastic.linkTo(function(new_color) {
                    $icon.css('background', new_color);
                    if (type === 'bg') {
                        $b.css('background', new_color);
                    }
                    if (type === 'text') {
                        $b.css('color', new_color);
                    }
                    $input.val(new_color && new_color[0] == '#' ? new_color.substr(1) : new_color);
                    $form.change();
                });

                setColor($input.val() || '#f0f0f0');

                // Show the color picker
                $colorpicker_wrapper.slideDown();

                // Close the color picker when user clicks anywhere else
                var attached_to_this = true;
                $form.onWhile(function() {
                    return attached_to_this;
                }, 'click', detachFromThis);

                // Close colorpicker when user clicks Esc
                $(document).onWhile(function() {
                    return attached_to_this;
                }, 'keyup', function() {
                    if (event.keyCode == "27") {
                        detachFromThis();
                    }
                });

                // Update color when user modifies value in input
                $input.onWhile(function() {
                    return attached_to_this;
                }, 'keyup', function() {
                    setColor($input.val());
                });

                return false;

                function setColor(color) {
                    if(!color || color[0] != '#') {
                        color = '#' + color;
                    }
                    farbtastic.setColor(color);
                }

                function detachFromThis() {
                    farbtastic.linkTo(function() { });
                    $colorpicker_wrapper.slideUp();
                    attached_to_this = false;
                }
            });

            // Do not bubble click events so that colorpicker does not close when user clicks inside it
            $colorpicker_wrapper.click(function() { return false; });

        })();

        // Icon selector in status editor
        // (function() {
        //     var $wrapper = $('#t-status-list');
        //     $wrapper.on('click', 'a.t-status-icon', function() {
        //         var $i = $(this).find('i');
        //         var $hidden_input = $i.closest('.field').find('[name$="[icon]"]');
        //         $i.closest('li').addClass('selected').siblings('.selected').removeClass('selected');
        //         $hidden_input.val($i.attr('class').replace('icon16 ', '')).change();
        //     });
        // })();

        // Assignment controller
        (function() {

            var $wrapper = $('#t-status-list');

            // When user picks "assign to specific user", show the user selector
            $wrapper.on('change', '[name$="[assign]"]', function() {
                var $radio = $(this);
                $radio.closest('.field').find('.show-when-selected').hide();
                $radio.closest('.field-group__item').find('.show-when-selected').show();
            });

            // When user opens specific status form, make sure
            // assignment selector for specific user is hidden/visible
            // depending on radio button status
            $wrapper.on('open', '.t-settings-item', function() {
                $(this).find('[name$="[assign]"][checked]').change();
            });

        })();

        // For new statuses, when user types into status name field, copy into button field automatically
        (function() {
            var timeout = null;
            var $wrapper = $('#t-status-list');
            $wrapper.on('keypress keydown', '[name$="[name]"]', function(e) {
                var $input_name = $(this);
                var $input_button = $input_name.parent().find('[name$="[button]"]');
                if ($input_button.length && $input_name.val() == $input_button.val()) {
                    timeout && clearTimeout(timeout);
                    timeout = setTimeout(function() {
                        $input_button.val($input_name.val());
                    }, 50);
                }
            });
        })();

        // Indicator that something's changed in the form
        (function() {
            var timeout = null;
            var $button = $('#settings-form .button.green');
            var initial_form_state = $form.serialize();
            $form.on('change keyup', function() {
                $button.removeClass('green').addClass('yellow');
                timeout && clearTimeout(timeout);
                timeout = setTimeout(function() {
                    timeout = null;
                    var form_state = $form.serialize();
                    if (initial_form_state == form_state) {
                        $button.removeClass('yellow').addClass('green');
                    } else {
                        $button.removeClass('green').addClass('yellow');
                    }
                }, 300);
            });

            // Prevent movement to another page if there's something unsaved
            $(window).onWhile(function() {
                return $.contains(document, $button[0]);
            }, 'wa_before_dispatched', function(e) {
                if ($button.is('.yellow')) {
                    if (!confirm(confirm_leaving_message)) {
                        e.preventDefault();
                        return false;
                    }
                }
            });
        })();

        function showStatusForm($status_wrapper) {
            var $hiddenBlock = $status_wrapper.find('.t-hidden-block'),
                active_class = "is-opened",
                inactive_class = "is-closed",
                is_active = ( $status_wrapper.hasClass(active_class) );

            if (is_active) {
                $hiddenBlock.slideUp();
                $status_wrapper
                    .addClass(inactive_class)
                    .removeClass(active_class);

            } else {
                $hiddenBlock.slideDown();
                $status_wrapper
                    .removeClass(inactive_class)
                    .addClass(active_class);
                $status_wrapper.trigger("open");
            }
        }

        // sidebar
        $('#t-settings-sidebar-wrapper').data('sidebar').selectItem('statuses');

    } )(jQuery);</script>

</div>
