:root {
  --cell-width: 40px;
  --days-count: 365;
}

.t-white {
    background: var(--white-color-strong);
    border-color: var(--white-color-strongest)
}

.t-gray {
    background: var(--gray-color-strong)
}

.t-yellow {
    background: var(--yellow-color-strong)
}

.t-green {
    background: var(--green-color-strong)
}

.t-blue {
    background: var(--blue-color-strong);
}

.t-red {
    background: var(--red-color-strong)
}

.t-purple {
    background: var(--purple-color-strong)
}

.t-content-wrapper {
    min-width: 1px;
}

.gantt-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
}

.gantt-controls {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    gap: 8px;
    align-items: center;
}

.gantt-table {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.gantt-left-column {
    padding-top: 20px;
    width: 250px;
    overflow-y: auto;
    border-right: 1px solid #ccc;
}

.gantt-right-timeline-wrapper {
    flex: 1;
    overflow: auto;
    position: relative;
}

.gantt-right-timeline {
    position: relative;
    min-width: max-content;
}

.gantt-timeline-row {
    position: relative;
    display: grid;
    grid-auto-rows: 40px;
    grid-template-columns: repeat(var(--days-count), var(--cell-width));
    min-width: max-content;
}

.gantt-cell {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #fafafa;
    box-sizing: border-box;
}

.gantt-row {
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

.gantt-header {
    height: 20px;
    display: grid;
    grid-template-columns: repeat(var(--days-count), var(--cell-width));
    position: sticky;
    top: 0;
    /* background: #f8f8f8;
    border-bottom: 1px solid #ccc; */
    z-index: 999;
    font-size: 10px;
    text-align: center;
    align-items: center;
    /* box-sizing: border-box; */
}

.gantt-header-cell {
    border-right: 1px solid #e0e0e0;
    height: 100%;
    padding: 0 4px;
    /* box-sizing: border-box; */
}

.today-cell {
    background-color: #fff0f0;
}

.gantt-bar {
  position: absolute;
  height: 30px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  padding: 2px 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 99;
    box-sizing: border-box;
}

.gantt-bar-pointer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 2px;
    /* height: 10px; */
    background-color: red;
    transform: translateX(-50%);
}

.resize-handle {
  position: absolute;
  display: none;
  top: 0;
  width: 6px;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  cursor: ew-resize;
}
.resize-handle.left { left: 0; }
.resize-handle.right { right: 0; }

.gantt-bar:hover .resize-handle {
  display: block;
}