{strip}

{if $ui == '2.0'}
<style>
.t-content-wrapper {
    position: absolute;
    overflow-y: auto;
    top: 2.6rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
}
</style>

<div class="custom-p-16 nowrap uppercase"><strong>{$title}</strong></div>
<div class="t-content-wrapper hide-scrollbar">
    <ul class="menu custom-m-0">
        {foreach $stats as $item}
            <li class="custom-mt-12">
                <div class="flexbox middle space-4 custom-mb-4">
                    <i class="userpic userpic-20" style="background-image: url('{$item.contact.photo_url}')"></i>
                    <span class="wide">{$item.contact.name|escape}</span>
                    <span class="small">
                        {if $item.overdue_count}<strong class="badge red custom-mr-4"><i class="fas fa-flag-checkered fa-xs"></i> {waLocale::format($item.overdue_count, 0)}</strong>{/if}
                        {waLocale::format($item.total_count, 0)}
                    </span>
                </div>
                <div class="progressbar">
                    <div class="progressbar-line-wrapper text-inside">
                        <div class="progressbar-outer">
                            <div class="progressbar-inner" style="width: {$item.total_loading}%;">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {/foreach}
    </ul>
</div>

<script>
    (function ($) {
        $(function () {
            setTimeout(function() {
                try {
                    DashboardWidgets[{$widget_id}].renderWidget();
                } catch (e) { }
            }, 60 * 1000);
        });
    })(jQuery)
</script>

{else}
<style>{include file='../css/actors.css' inline}</style>

<div class="t-actors-widget-wrapper">
    <div class="text-wrapper">
        <h6 class="heading nowrap">{$title}</h6>

        <ul class="t-actors-list">
            {foreach $stats as $item}
                <li class="h-author-wrapper">
                    <div class="h-outer-chart" style="width: {$item.total_loading}%">
                        <div class="h-inner-chart" style="width: {$item.relative_overdue_loading}%"></div>
                    </div>
                    <div class="h-author">
                        <span class="h-icon" style="background-image: url('{$item.contact.photo_url}')"></span>
                        <span class="h-name">{$item.contact.name|escape}</span>
                        <span class="h-count">
                            {waLocale::format($item.total_count, 0)}{if $item.overdue_count}&nbsp;/&nbsp;<strong class="red">{waLocale::format($item.overdue_count, 0)}</strong>{/if}
                        </span>
                    </div>
                </li>
            {/foreach}
        </ul>

    </div>

    <script>
        (function ($) {
            $(function () {
                setTimeout(function() {
                    try {
                        DashboardWidgets[{$widget_id}].renderWidget();
                    } catch (e) { }
                }, 60 * 1000);
            });
        })(jQuery)
    </script>

</div>
{/if}

{/strip}
