<style>

    .t-premium-appicon { position: relative; z-index: 10; height: 9rem; background: url('{$wa_url}wa-apps/tasks/img/tasks.svg') no-repeat center / 8rem; }
    .t-premium-feature { border-radius: 0.75rem; background: var(--background-color-blank); margin-bottom: 1.5rem; padding: 1.5rem 2rem; }
    .t-premium-feature.halfwidth { width: 40%; margin-bottom: 0; padding-bottom: 0.5rem; }
    .t-premium-feature.halfwidth h3 { font-size: 1.25rem; }

    @media screen and (max-width: 760px) {
        .t-premium-feature.halfwidth { width: 100%; }
    }

</style>

{$_is_premium = $wa->tasks->isPremium()}
{$_is_cloud = $wa->tasks->isCloud()}
{$_premium_pricing = $wa->tasks->getPremiumPricing()}
{$_upgrade_url = '[`https://www.webasyst.com/my/buy/upgrade-to-premium/tasks/`]'|cat:'?domain='|cat:str_replace('http://','',str_replace('https://','',$wa->domainUrl()))}

{capture "getpremiumbutton"}
{if !$_is_premium}
<figure class="box align-center t-upgrade-ad">
    <a href="{$_upgrade_url}" class="button rounded {if !$_is_cloud}{$_premium_pricing.special_color|default:'green'}{else}green{/if} largest" target="_blank">[`Upgrade to premium`]</a>
    <h4>
        {if !empty($_premium_pricing.compare_price)}<strike class="gray">{$_premium_pricing.compare_price}</strike>{/if}
        {if $_is_cloud}[`All inclusive in the cloud`]{else}{$_premium_pricing.price} / [`upgrade to premium`]{/if}
    </h4>
    <p class="width-60 width-100-mobile custom-mx-auto small">
        {if $_is_cloud}
            [`In Webasyst Cloud, simply upgrade to the <b>Premium</b> plan and get all premium features at once with no extra purchase required.`]
        {else}
            {if !empty($_premium_pricing.special)}
                {sprintf('[`%s limited offer for upgrading existing app license to the premium version`]', sprintf('<span class="badge %s">%s</span>', $_premium_pricing.special_color, $_premium_pricing.special))}<br>
                <b>{date('Y.m')}</b> [`special offer!`]
            {else}
                [`Per-server license for the entire company. Unlimited users, all premium features, free updates forever.`]
            {/if}
        {/if}
    </p>
</figure>
{/if}
{/capture}

{function name="_render_feature" _p=[] _is_premium_license=false _halfwidth=false _is_free_feature=false}
<div class="card t-premium-feature{if $_halfwidth} halfwidth{/if}">
    <div class="flexbox space-12 wrap-mobile">
        <div class="wide">
            <h3>
                {if !$_is_free_feature}<i class="fas fa-star text-yellow custom-mr-4"></i>{/if}
                {$_p.title}
            </h3>
        </div>
        <div>
            {if empty($_p.eta)}
                <span class="nowrap badge green"><i class="fas fa-check"></i> {if !$_is_free_feature}{if $_is_premium_license}[`Enabled`]{else}[`Available now`]{/if}{/if}</span>
            {elseif trim($_p.eta)}
                <span class="nowrap badge {$_p.eta_class|default:'light-gray'}"><i class="fas fa-clock"></i> {$_p.eta}</span>
            {/if}
        </div>
    </div>
    <div class="small custom-mt-16{if $_is_premium} hidden{/if}">{if !empty($_p.body)}{$_p.body}{/if}</div>
</div>
{/function}

<div class="article">

    <main class="article-body">

        <article class="t-upgrade-content">

            <div class="t-premium-appicon"></div>

            {$_premium_stuff = []}

            {$_premium_stuff[] = [
              'title' => '[`Gantt chart`]',
              'body' => '[`Visualize working progress based on scopes/milestones.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`Task types`]',
              'body' => '[`Specify any custom task type list: dev, bug, feature, story, epic, lead, whatever.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`Custom fields`]',
              'body' => '[`Configure custom task fields based on a task type.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`AI assistant`]',
              'body' => '[`Write and spellcheck task content with just few clicks. Powered by Webasyst AI.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`Reports & visuals`]',
              'body' => '[`Track  working progress with CFD and LTDC charts, task completion tables, more.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`Limited access & user roles`]',
              'body' => '[`With the basic version, you can invite your clients to your Webasyst backend using the free Team app and grant full access to a specific project. With premium, more sophisticated in-project access rights option will be available, such as view, comment, and follow specific tasks only.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`Project summary private links`]',
              'body' => '[`Showcase project & its tasks current status to your client via a private link (Teamwork app frontend). View only access with no need to sign up and get extra access to your Webasyst backend.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`Project templates`]',
              'eta' => '[`Later`]',
              'body' => '[`Quickly start new projects with a pre-defined set of template-based tasks & workflows.`]'
            ]}
            {$_premium_stuff[] = [
              'title' => '[`Per-task time tracking`]',
              'eta' => '[`Later`]',
              'body' => '[`Track working time within an individual task (in integration with the Status app).`]'
            ]}

            {$_features_delivered = 0}
            {$_features_pending = 0}
            {foreach $_premium_stuff as $_p}
                {if empty($_p.eta)}
                    {$_features_delivered = $_features_delivered + 1}
                {else}
                    {$_features_pending = $_features_pending + 1}
                {/if}
            {/foreach}


            {if $_is_premium}

                <h1 class="top-padded align-center">[`You are all set!`]</h1>
                <p class="small align-center">
                    [`Thank you for being a premium user and for supporting the project.`]<br>
                    [`With premium, you are among the first to have access to all features.`]<br>
                    <a class="bold" href="[`https://www.webasyst.com/store/app/tasks/`]" target="_blank">[`https://www.webasyst.com/store/app/tasks/`]</a>
                </p>

                {if method_exists($wa->installer, 'reviewWidget')}
                    <div style="max-width: 300px;" class="custom-my-24 custom-mx-auto">
                        {$wa->installer->reviewWidget('app/tasks', ['is_inline' => true])}
                    </div>
                {/if}

            {else}

                <h1 class="top-padded align-center width-70 custom-mx-auto custom-mb-24 width-100-mobile">
                    [`Better tools for better results`]
                </h1>

                <p class="small align-center custom-mb-24">
                    [`Early launch offer gets you the best premium upgrade conditions possible.`]
                    <br>
                    <b>{sprintf('[`%d features available now, +%d more to come shortly.`]', $_features_delivered, $_features_pending)}</b>
                </p>

            {/if}

            <div class="flexbox wrap-mobile middle space-12" style="justify-content: center;">

                <a href="https://apps.apple.com/{if $wa->locale() == 'ru_RU'}ru{else}us{/if}/app/webasyst-teamwork/id1610735751" target="_blank">
                    <img src="{$wa_app_static_url}img/badge-appstore{if $wa->locale() == 'ru_RU'}-ru{/if}.png" class="t-app-inline-badge" alt="App Store">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.webasyst.teamwork" target="_blank">
                    <img src="{$wa_app_static_url}img/badge-googleplay{if $wa->locale() == 'ru_RU'}-ru{/if}.png" class="t-app-inline-badge" alt="Google Play">
                </a>
                {if $wa->locale() == 'ru_RU'}
                    <a href="https://apps.rustore.ru/app/com.webasyst.teamwork" target="_blank">
                        <img src="{$wa_app_static_url}img/badge-rustore.svg" class="t-app-inline-badge" alt="RuStore">
                    </a>
                {/if}

            </div>


            {$smarty.capture.getpremiumbutton}

            {foreach $_premium_stuff as $_p}
                {_render_feature _p=$_p _is_premium_license=$_is_premium}
            {/foreach}
            <p class="align-center gray small">[`All scheduled features will be delivered as free updates via Installer.`]</p>

            {$smarty.capture.getpremiumbutton}



        </article>

    </main>

</div>

<script type="text/javascript">
    (function(){
        $.tasks.setTitle('[`Premium`]');
    }());
</script>
