<style>

    .t-premium-appicon { position: relative; z-index: 10; height: 9rem; background: url('{$wa_url}wa-apps/tasks/img/tasks.svg') no-repeat center / 8rem; }
    .t-premium-feature { border-radius: 0.75rem; background: var(--background-color-blank); margin-bottom: 1.5rem; padding: 1.5rem 2rem; }
    .t-premium-feature.halfwidth { width: 40%; margin-bottom: 0; padding-bottom: 0.5rem; }
    .t-premium-feature.halfwidth h3 { font-size: 1.25rem; }

    @media screen and (max-width: 760px) {
        .t-premium-feature.halfwidth { width: 100%; }
    }

</style>

{$_is_premium = $wa->tasks->isPremium()}
{$_premium_pricing = $wa->tasks->getPremiumPricing()}
{$_upgrade_url = '[`https://www.webasyst.com/my/buy/upgrade-to-premium/tasks/`]'|cat:'?domain='|cat:str_replace('http://','',str_replace('https://','',$wa->domainUrl()))}

{capture "getpremiumbutton"}
{if !$_is_premium}
<figure class="box align-center t-upgrade-ad">
    <a href="{$_upgrade_url}" class="button rounded {$_premium_pricing.special_color|default:'green'} largest" target="_blank">[`Upgrade to premium`]</a>
    <h4>
        {if !empty($_premium_pricing.compare_price)}<strike class="gray">{$_premium_pricing.compare_price}</strike>{/if}
        {$_premium_pricing.price}
        / [`lifetime`]
    </h4>
    <p class="width-60 width-100-mobile custom-mx-auto small">
        {if !empty($_premium_pricing.special)}
            {sprintf('[`%s limited offer for upgrading existing app license to the premium version`]', sprintf('<span class="badge %s">%s</span>', $_premium_pricing.special_color, $_premium_pricing.special))}<br>
            <b>{date('Y.m')}</b> [`special offer!`]
        {/if}
    </p>
</figure>
{/if}
{/capture}

{function name="_render_feature" _p=[] _is_premium_license=false _halfwidth=false _is_free_feature=false}
<div class="card t-premium-feature{if $_halfwidth} halfwidth{/if}">
    <div class="flexbox space-12 wrap-mobile">
        <div class="wide">
            <h3>
                {if !$_is_free_feature}<i class="fas fa-star text-yellow custom-mr-4"></i>{/if}
                {$_p.title}
            </h3>
        </div>
        <div>
            {if empty($_p.eta)}
                <span class="nowrap badge green"><i class="fas fa-check"></i> {if !$_is_free_feature}{if $_is_premium_license}[`Enabled`]{else}[`Available now`]{/if}{/if}</span>
            {elseif trim($_p.eta)}
                <span class="nowrap badge {$_p.eta_class|default:'light-gray'}"><i class="fas fa-clock"></i> {$_p.eta}</span>
            {/if}
        </div>
    </div>
    <div class="small custom-mt-16{if $_is_premium} hidden{/if}">{if !empty($_p.body)}{$_p.body}{/if}</div>
</div>
{/function}

<div class="article">

    <main class="article-body">

        <article class="t-upgrade-content">

            <div class="t-premium-appicon"></div>

            {if $_is_premium}

                <h1 class="top-padded align-center">[`You are all set!`]</h1>
                <p class="small align-center">
                    [`Thank you for being a premium user and for supporting the project.`]<br>
                    [`With premium, you are among the first to have access to all features.`]<br>
                    <a class="bold" href="[`https://www.webasyst.com/store/app/tasks/`]" target="_blank">[`https://www.webasyst.com/store/app/tasks/`]</a>
                </p>

                {if method_exists($wa->installer, 'reviewWidget')}
                    <div style="max-width: 300px;" class="custom-my-24 custom-mx-auto">
                        {$wa->installer->reviewWidget('app/tasks', ['is_inline' => true])}
                    </div>
                {/if}

            {else}

                <h1 class="top-padded align-center width-70 custom-mx-auto custom-mb-24 width-100-mobile">
                    [`Advanced features for efficient teamwork and productive teams`]
                </h1>

                <p class="small align-center custom-mb-24">
                     [`All scheduled features will be delivered as free updates via Installer.`]
                     [`See the roadmap below for the planned feature delivery timeline.`]
                </p>

            {/if}

            {$_premium_stuff = []}

            {$_premium_stuff[] = [
              'title' => '[`Gantt chart`]',
              'body' => '[`Visualize working progress based on scopes/milestones.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`Task types`]',
              'body' => '[`Specify any custom task type list: dev, bug, feature, story, epic, lead, whatever.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`Custom fields`]',
              'body' => '[`Configure custom task fields based on a task type.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`AI assistant`]',
              'body' => '[`Spellcheck & improve your texts in the task editor with a click. Powered by Webasyst AI.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`Reports & visuals`]',
              'body' => '[`Track  working progress with CFD and LTDC charts, task completion tables, more.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`Project summary private links`]',
              'eta' => '[`Soon`]',
              'eta_class' => 'yellow',
              'body' => '[`Showcase project & its tasks current status to your client via a private link (Teamwork app frontend). View only access with no need to sign up and get extra access to your Webasyst backend.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`In-project limited access for clients`]',
              'eta' => '[`Soon`]',
              'eta_class' => 'yellow',
              'body' => '[`With the basic version, you can invite your clients to your Webasyst backend using the free Team app and grant full access to a specific project. With premium, more sophisticated in-project access rights option will be available, such as view, comment, and follow specific tasks only.`]'
            ]}

            {$_premium_stuff[] = [
              'title' => '[`Project templates`]',
              'eta' => '[`Later`]',
              'body' => '[`Quickly start new projects with a pre-defined set of template-based tasks & workflows.`]'
            ]}
            {$_premium_stuff[] = [
              'title' => '[`Per-task time tracking`]',
              'eta' => '[`Later`]',
              'body' => '[`Track working time within an individual task (in integration with the Status app).`]'
            ]}
            {$_premium_stuff[] = [
              'title' => '[`Suggest a feature`]',
              'eta' => ' ',
              'body' => '[`Share your feedback and suggestions, <a href="https://support.webasyst.com/forum/ideas/" target="_blank">post your ideas on the foum &rsaquo;</a>`]'
            ]}

            {$smarty.capture.getpremiumbutton}

            {foreach $_premium_stuff as $_p}
                {_render_feature _p=$_p _is_premium_license=$_is_premium}
            {/foreach}
            <p class="align-center gray small">[`All scheduled features will be delivered as free updates via Installer.`]</p>

            {$smarty.capture.getpremiumbutton}



        </article>

    </main>

</div>

<script type="text/javascript">
    (function(){
        $.tasks.setTitle('[`Premium`]');
    }());
</script>
