{** @var array $data **}
{** @var tasksTask $task **}
{foreach $data.tasks as $task}
    <div data-task-id="{$task.id}" class="t-kanban__list__body__item custom-p-8 custom-mb-8">
        <div><a href="#/task/{$task.id}/" target="_blank">{$task.name|escape}</a></div>
        <div class="hint">project_id: {$task.project_id}</div>
        <div class="hint">milestone_id: {$task.milestone_id}</div>
        <div class="hint">{$task.create_contact.name|escape}</div>
        <!-- {$task|print_r} -->
    </div>
{/foreach}
