{include file="./../tasks/includes/TasksHeaderFiltersHelpers.inc.html" inline}

{if method_exists($wa->installer, 'reviewWidget')}
    {$wa->installer->reviewWidget('app/tasks')}
{/if}

{strip}
    <div class="t-main-wrapper t-log-page">
        <header class="t-header-wrapper">
            <div class="t-general-menu is-shown flexbox space-20">
                {*
                 * Filters by project, milestone and user
                 *}
                <div class="wide t-menu-wrapper flexbox wrap middle space-12">
                    {foreach $filter_types as $ft_id => $options}
                        <div class="dropdown t-menu-item" id="{$ft_id}" data-filter-id="{$ft_id}">
                            <button class="dropdown-toggle button t-selected-item light-gray"></button>
                            <div class="dropdown-body">
                                <ul class="menu">
                                    {foreach $options as $o}
                                        <li class="t-nav-item" data-value="{$o.id}"><a href="javascript:void(0);">
                                            {if !empty($o.icon_html) && ifempty($o.icon) != 'unknown'}
                                                {$o.icon_html}
                                            {/if}

                                            {if !empty($o.id) && array_key_exists('photo', $o)}
                                                {$_userpic = "{$wa_url}wa-content/img/userpic.svg"}
                                                {if !empty($o.photo)}
                                                    {$_userpic = waContact::getPhotoUrl($o.id, $o.photo, 40, 40, 'person', 0)}
                                                {/if}
                                                <span class="icon">
                                                    <i class="userpic" style="background-image: url({$_userpic|escape})"></i>
                                                </span>
                                            {/if}

                                            <span class="{if $o@index > 0}is-bold{/if}">{$o.name|escape|truncate:42}</span>
                                        </a></li>
                                    {/foreach}
                                </ul>
                            </div>

                            <script>
                                (function ($) {
                                    $("#{$ft_id}").waDropdown({
                                        hover: true
                                    });
                                })(jQuery);
                            </script>
                        </div>
                    {/foreach}

                    <!-- TAG CLOUD WIDGET FILTER -->
                    {$_current_tag = ''}
                    {if isset($tag)}{$_current_tag = '#'|cat:$tag.name}{/if}
                    {showTagsCloud class='t-tasks-tag-cloud-filter js-header-title-participant' cloud=$tags_cloud title=$_current_tag}

                    <div>
                        <input type="hidden" name="with_backlog" value="0"/>
                        <label>
                            <span class="wa-checkbox">
                                <input type="checkbox" name="with_backlog" value="1"/>
                                <span>
                                    <span class="icon">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </span>
                            </span>
                            <span class="custom-ml-4">[`Show unassigned`]</span>
                        </label>
                    </div>

                    {$_kanban_page_hooks_header = $kanban_page_hooks.header|default:[]}
                    {foreach $_kanban_page_hooks_header as $pluginId => $h}
                        <!-- {$pluginId} filters -->
                        {$h.filters|default:''}
                    {/foreach}

                    {if !empty($is_filter_set)}
                        <div class="t-menu-item">
                        <span class="t-menu-name">
                            <a href="#/kanban/" class="t-remove-filters-link gray larger">
                                <i class="fas fa-times-circle" title="[`Clear filters`]"></i>
                            </a>
                        </span>
                        </div>
                    {/if}
                </div>
            </div>
        </header>

        <div class="t-kanban flexbox">
            <div class="flexbox fixed space-12 width-100">
            {foreach $kanban as $data}
                <div class="t-kanban__list">
                    <div class="flexbox middle custom-p-12">
                        <div class="wide">
                            {tasksHelper::statusNameHTML($data.status.id)}
                        </div>
                        <div>
                            <span class="t-kanban__list__count gray bold">{$data.count}</span>
                        </div>
                    </div>
                    <div data-kanban-list-status-id="{$data.status.id}" data-kanban-list-total="{$data.count}" class="t-kanban__list__body hide-scrollbar custom-px-12">
                        {include file='./KanbanStatusTasks.html' data=$data}
                        <div class="t-kanban__list__body__footer">
                            <span style="display: none;">[`Loading...`]</span>
                        </div>
                    </div>
                    <div class="t-kanban__list__fade"></div>
                </div>
            {/foreach}
            </div>
        </div>
    </div>
{/strip}

<script>(function () {
        "use strict";

        var $main_menu = $('.t-header-wrapper');
        var list_hash = $.tasks.cleanHash(window.location.hash) || '#/kanban/';
        var list_params = list_hash.substr(9).split('/')[0];

        // Set <a href=...> on filters
        $main_menu.find(".t-nav-item[data-value]").each(function () {
            var $nav_item = $(this),
                filter_id = $nav_item.closest(".t-menu-item").data("filter-id"),
                params = $.tasks.replaceParam(list_params, filter_id, $nav_item.data('value')),
                item_hash = '#/kanban/' + params + (params ? '/' : '');

            $nav_item.find("a").attr('href', item_hash);
            if (item_hash == list_hash) {
                $nav_item.closest(".t-menu-item").find(".t-selected-item").html($nav_item.find('a').html());
            }
        });

        if (list_params.indexOf('with_backlog=1') !== -1) {
            $main_menu.find(':checkbox[name="with_backlog"]').prop('checked', true);
        }

        $main_menu.on('click', ':checkbox[name="with_backlog"]', function (e) {
            var $this = $(this);

            if ($this.is(':checked')) {
                var params = $.tasks.replaceParam(list_params, 'with_backlog', 1);
                window.location.hash = '#/kanban/' + params + (params ? '/' : '');
            } else {
                var params = $.tasks.replaceParam(list_params, 'with_backlog', '');
                window.location.hash = '#/kanban/' + params + (params ? '/' : '');
            }
        });

        $main_menu.find('.t-tags-cloud .js-tag-link').each(function () {
            var $tag_item = $(this),
                params = $.tasks.replaceParam(list_params, 'tag', $tag_item.data('value')),
                item_hash = '#/kanban/' + params + (params ? '/' : '');

            $tag_item.attr('href', item_hash);
        })

        var $tag = $main_menu.find('.tag .t-tag-item');
        if ($tag.length) {
            var params = $.tasks.replaceParam(list_params, 'tag', ''),
                item_hash = '#/kanban/' + params + (params ? '/' : '');

            $tag.attr('href', item_hash);
        }

        var $autocomplete = $main_menu.find('.js-t-header-tags-autocomplete');
        $autocomplete.on("keyup", function (event) {
            if (event.keyCode === 13) {}
        });

        $autocomplete.autocomplete({
            source: '?module=tags&action=autocomplete',
            minLength: 1,
            delay: 300,
            select: function (event, ui) {
                var params = $.tasks.replaceParam(list_params, 'tag', ui.item.label);
                window.location.hash = '#/kanban/' + params + (params ? '/' : '');
                return false;
            }
        });

        // When focus on auto-complete input - than HOLD drop-down menu
        $autocomplete.on("focus", function() {
            // $tagsWrapper.addClass(storage.shown_class);
        });

        // When focus is NOT on auto-complete input - than UNHOLD drop-down menu
        $autocomplete.on("blur", function() {
            // $tagsWrapper.removeClass(storage.shown_class);
        });

    })();</script>
