{$wrapper_id = uniqid('t-settings-task-types-wrapper')}
<div class="flexbox t-settings-task-types-wrapper" id="{$wrapper_id}">

    {$sidebar_html|default:''}

    <div class="content">

        <div class="article">
        <div class="article-body">

            <h1>[`Task types`]</h1>

            <div class="hidden alert success t-saved bordered-bottom">
                <i class="fas fa-check-circle"></i>
                <span>[`Settings successfully updated`]</span>
            </div>

            <a href="javascript:void(0)" class="button light-gray t-add-new-type-link rounded">
                <i class="fas fa-plus text-blue"></i>
                <span>[`New type`]</span>
            </a>


            <form method="post" class="t-save-settings-form">
                <div class="t-settings-wrapper">
                    <div class="t-types-list-wrapper">
                        <ul class="menu t-types-list" style="position: relative;">

                            {$_types = $types}
                            {$_empty = $empty}
                            {$_empty.id = '_template_'}
                            {$_types[$_empty.id] = $_empty}

                            {foreach $_types as $_type}
                                {$_is_template = $_type.id == '_template_'}
                                <li data-id="{$_type.id}" class="t-types-list-item {if $_is_template}is-template hidden{/if}">
                                    <span class="item">

                                        <i class="fas fa-bars t-sort-handler"></i>

                                        <span class="t-type-name-text" {if $_type.color}style="color:#{$_type.color|escape}"{/if}>{$_type.name|escape}</span>
                                        <input type="text" class="t-type-name-input"
                                               name="data[type][{$_type.id}][name]" value="{$_type.name|escape}"
                                                style="display: none;" placeholder="Type name">
                                        <div class="t-type-color-wrapper" style="display: none;">
                                            <label class="t-type-label-color" style="color: #a29d9d;">[`Color`]</label>
                                            #<input type="text" class="short js-colorpicker t-type-color-input"
                                                   name="data[type][{$_type.id}][color]" value="{$_type.color|escape}" autocomplete="off">
                                            <i class="icon rounded" style="background:#{ifset($_type.color, 'f0f0f0')|escape};"></i>
                                        </div>

                                        <a class="t-edit-type-link" title="[`Edit`]">
                                            <i class="fas fa-edit t-edit text-blue"></i>
                                        </a>

                                        <a class="t-delete-type-link custom-ml-12" title="[`Delete`]">
                                            <i class="fas fa-trash-alt t-delete text-red"></i>
                                        </a>
                                    </span>
                                </li>
                            {/foreach}

                        </ul>
                    </div>
                    <div class="t-save-settings-wrapper">
                        <input type="submit" class="t-save-button button green" value="[`Save`]">
                        <i class="icon16 loading t-loading" style="display: none;"></i>
                    </div>
                </div>

            </form>

        </div>
        </div>

    </div>
    <script>
        (function ($) {
            new TasksTaskTypes({
                $wrapper: $('#{$wrapper_id}')
            });
        })(jQuery);
    </script>
</div>
