<link rel="stylesheet" href="{$wa_app_static_url}css/gantt.css">

                            
<div class="gantt-container">
    <div class="gantt-controls">
        <label>
            <div class="wa-select">
                <select id="project-selector">
                    <option value="">[`All projects`]</option>
                    {foreach $projects as $p}
                        <option value="{$p.id}">{$p.name|escape|truncate:42}</option>
                    {/foreach}
                </select>
            </div>
        </label>
        <label>От: 
            <div class="wa-select">
            <select id="range-from"> 
                <option value="-1">-1 мес</option>
                <option value="-3" selected>-3 мес</option>
                <option value="-12">-12 мес</option>
            </select>
            </div>
        </label>
        <label>До: 
            <div class="wa-select">
            <select id="range-to">
                <option value="3">+3 мес</option>
                <option value="6">+6 мес</option>
                <option value="12" selected>+12 мес</option>
                <option value="36">+36 мес</option>
            </select>
            </div>
        </label>
        <label>Zoom: <input type="range" id="zoom-slider" min="0" max="80" step="1" value="0"></label>
        <!-- <button id="today-button">Сегодня</button> -->
    </div>

    <div class="gantt-table">
        <div class="gantt-left-column" id="left-col"></div>
        <div class="gantt-right-timeline-wrapper" id="right-wrapper">
            <div class="gantt-header" id="timeline-header"></div>
            <div class="gantt-right-timeline" id="timeline"></div>
        </div>
    </div>
</div>

<script src="{$wa_app_static_url}js/gantt.js"></script>
<script>
    (() => {
        const milestones = {json_encode(array_values($milestones))};
        new GanttChart({
            data: milestones,
            leftColId: 'left-col',
            timelineId: 'timeline',
            rightWrapperId: 'right-wrapper',
            timelineHeaderId: 'timeline-header',
            rangeFromId: 'range-from',
            rangeToId: 'range-to',
            zoomSliderId: 'zoom-slider',
            projectSelectorId: 'project-selector',
            // todayButton: 'today-button',
            rows: 26
        });
    })();
</script>


