<!-- hooks var -->
{$_backend_milestone_edit = $backend_milestone_edit|default:[]}

<div class="flexbox" id="t-milestone-page-wrapper">
    {$sidebar_html|default:''}

    <div class="t-milestone-page content not-blank" id="t-milestone-page">

        <div class="article">
            <div class="article-body">

                <div class="hidden t-saved">
                    <span class="alert success"><i class="fas fa-check-circle"></i> [`Scope successfully saved`]</span>
                </div>

                <div class="flexbox space-20 custom-mb-40">

                    {if $milestone.id}
                        <h1 class="custom-mb-0 wide{if $milestone.closed} gray{/if}">
                            {$milestone.name|escape|default:"[`(no name)`]"}
                            {if $milestone.closed}<i class="fas fa-check fa-xs" title="[`Archived`]"></i>{/if}
                        </h1>
                    {else}
                        <h1 class="custom-mb-0 wide">[`New milestone`]</h1>
                    {/if}

                    {if $milestone.id}

                        <div class="flexbox space-12 custom-mt-4 small">
                            <div>
                                {if $milestone.closed}
                                    <a href="javascript:void(0)" class="button gray t-scope-restore-link nowrap"><i class="fas fa-play"></i> [`Restore this milestone`]</a>
                                {else}
                                    <a href="javascript:void(0)" class="button green t-scope-archive-link nowrap"><i class="fas fa-check"></i> [`Mark as complete`]</a>
                                {/if}
                            </div>
                            <div>
                                <a href="javascript:void(0)" class="button nobutton red t-scope-delete-link nowrap"><i class="fas fa-trash-alt"></i> [`Delete`]</a>
                            </div>
                        </div>

                    {/if}

                </div>

                <form action="?module=milestones&action=edit" id="milestone-editor-form">
                    <div class="fields form">
                        <div class="field-group blank">

                            <input type="hidden" name="id" value="{ifempty($milestone.id, 'new')}">

                            <div class="field custom-mt-0">
                                <div class="name for-input">[`Name`]</div>
                                <div class="value"><input type="text" name="milestone[name]" class="bold long large" value="{$milestone.name|escape}"></div>
                            </div>
                            <div class="field">
                                <div class="name for-input">[`Due date`]</div>
                                <div class="value">
                                    <input type="text" class="datepicker-due-date bold" placeholder="[`Date`]">
                                    <input type="hidden" name="milestone[due_date]" value="{$milestone.due_date|escape}">
                                    <i class="fas fa-flag-checkered "></i>
                                </div>
                            </div>

                            <div class="field">
                                <div class="name">[`Description`]</div>
                                <div class="value"><textarea name="milestone[description]" style="max-width:24rem;" class="small">{$milestone.description|escape}</textarea>
                                    <span class="hint">[`A tiny hint describing your teammates what this milestone is all about.`]</span>
                                </div>
                            </div>
                            <div class="field t-milestone-project-field">
                                <div class="name for-input">[`Project`]</div>
                                <div class="value no-shift">
                                    <div class="wa-select">
                                        <select name="milestone[project_id]">
                                            {foreach $projects as $p}
                                                <option value="{$p.id}"{if $p.id == $milestone.project_id} selected{/if}>{$p.name|escape|truncate:42}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="t-more-fields">
                                <!-- plugin hook: 'backend_milestone_edit.%plugin_id%.more' -->
                                {* @event backend_milestone_edit.%plugin_id%.more *}
                                {foreach $_backend_milestone_edit as $_}{$_.more|default:''}{/foreach}
                            </div>

                        </div>

                        <div class="custom-m-20">
                            <input type="submit" class="button" value="[`Save`]">
                        </div>

                    </div>
                </form>

            </div>
        </div>

    </div>

    <script>(function() { "use strict";
        new TasksScopeEdit({
            '$wrapper': $('#t-milestone-page-wrapper'),
            'scope': {$milestone|json_encode},
            'just_saved': {$saved|default:false|json_encode},
            'errors': {$errors|default:[]|json_encode},
            'messages': {
                'delete_confirm': "[`DANGER: Deletion will be permanent with no ability to roll back. Are you sure?`]"
            }
        });
    })();</script>

</div>
