body.dialog-is-shown
  overflow hidden

h2
  @media forMobile
    font-size 1.5rem

.loading, .loading:after
  border-radius 50%
  width 10em
  height 10em

.loading
  display block
  margin 120px auto 0 auto
  font-size 10px
  position relative
  text-indent -9999em
  border-top 1.1em solid rgba(255, 255, 255, 0.2)
  border-right 1.1em solid rgba(255, 255, 255, 0.2)
  border-bottom 1.1em solid rgba(255, 255, 255, 0.2)
  border-left 1.1em solid #EEE
  transform translateZ(0)
  animation load8 1.1s infinite linear

#wa-plugins-container
  .loading, .loading:after
    display: none

@keyframes load8
  0%
    -webkit-transform rotate(0deg)
    transform rotate(0deg)

  100%
    -webkit-transform rotate(360deg)
    transform rotate(360deg)

@keyframes load8
  0%
    -webkit-transform rotate(0deg)
    transform rotate(0deg)

  100%
    -webkit-transform rotate(360deg)
    transform rotate(360deg)

.sidebar.t-task-list-sidebar
  width 25rem

  @media forMedium
    width 22rem

  @media forMobile
    width 100%

  @media screen and (min-width: 761px) and (max-width: 1024px)
    width 100%

.drawer-block
  h1
    margin-bottom 2rem

#sidebar.sidebar.width-adaptive
  min-width 13rem

  .bricks > a
    @media screen and (min-width: 761px) and (max-width: 1440px)
      font-size 0.75rem
      padding 0.375rem 0.5rem
      width calc(50% - 1.75rem)
      margin-right 0.75rem

  .bricks > .t-mini-brick
    padding 0.5rem 0.75rem 0.5rem

    @media screen and (min-width: 761px) and (max-width: 1440px)
      padding 0.5rem 0.375rem 0.5rem 0.625rem

    @media forMobile
      padding 0.75rem 1rem

    .icon
        font-size 1rem
        display inline
        margin-right 0.125rem
        vertical-align top


.prettyprint
  border 0 !important
  overflow auto
  background var(--background-color-blockquote)
  color var(--text-color-strong)
  border-radius 0.25rem
  padding 0.4rem !important

pre
  white-space normal

.t-project-icon

  .icon
      vertical-align 0.125rem
      width 1.25rem
      height 1.25rem

      *
        width 1.25rem
        height 1.25rem

.list > .item a
  position relative

.list > .item,
.t-comment-item
  a
    .t-project-icon
      position absolute
      top 2.5rem
      left 2.6125rem
      border-radius 0.375rem
      padding 0.125rem
      background var(--white)
      line-height 1rem

.t-project-icon-rounded
  border-radius 0.25rem

.t-status-icon-open
  background var(--green) !important

.t-status-icon-closed
  color var(--gray) !important

.t-scopes
  .progressbar
    margin 0.5rem 0 0.25rem

    .progressbar-line-wrapper
      .progressbar-outer
        .progressbar-inner
          min-height 4px

// Kanban section
.t-kanban
  height calc(100vh - 10rem)
  width 100%
  max-width calc(100vw - 16rem - 2rem)
  overflow-x auto
  overflow-y hidden
  margin 0.5rem 0.75rem

  @media screen and (min-width:761px) and (max-width:1440px)
    max-width calc(100vw - 13rem - 2rem)

  @media forMobile
    height 90vh
    max-width calc(100vw - 2rem)

  &__list
    position relative
    // overflow hidden
    background-color var(--background-color-input-solid)
    min-width 300px
    border-radius 0.375rem

    @media forMobile
      min-width 280px

    &__body
      height calc(100% - 5rem)
      overflow-y auto
      overflow-x hidden

      &__item
        // background-color var(--white)
        cursor move
        transition 0.1s
        border-radius 0.375rem
        font-size 0.875rem

        &:hover
          box-shadow 0 0.125rem 0.75rem -0.125rem rgba(0, 0, 0, 0.1)
          transform translateY(-1px)

        a
          color var(--text-color)

          &:hover
            background var(--background-color-editable)

      &__footer
        color var(--blue)
        text-align center
        min-height 24px

        span
          display inline-block
          padding 1rem

    &__fade
      position absolute
      left 0
      bottom 0
      width 100%
      height 100px
      background linear-gradient(180deg, var(--kanban-fade-from-color) 0%, var(--kanban-fade-to-color) 100%)

.t-comment-item-wrapper
  display flex

  &--right
    justify-content flex-end

  .t-comment-item
    width 100%
    padding 1.25rem 0
    border-bottom 1px solid var(--border-color-soft)

    .details
      margin-top -0.25rem
      flex-grow 1
      max-width 80%

    .t-comment-content
      font-size 0.9375rem
      margin 0.5rem 0 0.75rem
      word-break break-word
      background var(--background-color)
      border-radius 0.375rem
      padding 0.5rem 1.25rem

      blockquote
        padding 0.75rem 1rem
        margin 0.25rem 0

      p:last-child
        margin-bottom 0.5rem

    &.t-pinned-comment
        background var(--highlighted-blue)

    &.t-comment-with-custom-text
        //background var(--background-color)
        //border-radius 0.5rem
        //margin 1rem 0 0
        //border none

.t-pinned-comment
    background var(--highlighted-blue)
    border-radius 0.25rem
    color var(--text-color-strong) !important
    padding 0.5rem 0.5rem

    .icon
        font-size 1rem

    .hint
        color var(--text-color)

.t-task-wrapper
    .t-comment-item-wrapper

      .t-comment-item
         width calc(100% - 2.75rem)
         border-bottom none
         flex-direction row
         padding 0.75rem 0

         .image
            margin-right 0.75rem

         .details
             background var(--background-color-input)
             border-radius 0.375rem
             padding 0.75rem 1rem

         .t-comment-content
             padding 0

          @media forMobile
             width 100%

      .t-comment-item.t-pinned-comment
         background transparent

      .t-comment-item.t-comment-with-custom-text
         .t-comment-content
            background var(--background-color-blank)

         .details
            background var(--background-color-blank)
            box-shadow 0 0.5rem 1.5rem -1rem var(--dialog-shadow-color)

      &--right
         .t-comment-item
             flex-direction row-reverse

             .image
                margin-right 0
                margin-left 0.75rem


.t-task-embedded-block
    padding 0 0 1rem
    margin-top 2rem
    border-top 1px solid var(--border-color-soft)

.t-big-editor-wrapper
    border-radius 0.375rem
    background var(--background-color-blank)
    box-shadow 0 0.25rem 1.5rem -0.75rem var(--big-editor-shadow-color)
    overflow hidden
    word-break break-word

.redactor-box.redactor-styles-on
    border-width 0 !important
    border-color var(--background-color-blank) !important
    border-bottom-color transparent !important

    .redactor-toolbar
        padding 13px 13px 0 !important

    .redactor-styles
        padding 12px 14px

textarea.t-redactor-task-edit,
textarea.t-redactor-comments
    display block
    width 100%
    height 200px
    resize vertical
    box-sizing border-box
    border-width 0
    border-radius 0.375rem 0.375rem 0 0
    border-color var(--border-color-soft)
    border-bottom-color transparent
    background-color var(--background-color-blank)
    padding 0.75em 1em

textarea.t-redactor-comments
    height 120px

.collapsible
  margin-bottom: 2rem

  &__content
    :last-child
      margin-bottom: 0 !important

  .heading
    cursor pointer

    span
      .caret svg
        transition .3s transform

      &.collapsed
        .caret svg
          transform: rotate(-90deg)

.button.light-gray
    &:hover
        background var(--button-light-gray-background-color-hover)

.t-tags-hidden-tag
    display none

.t-due-date-hint-red
    color var(--red)
    font-weight bold

.t-due-date-hint-yellow
    color var(--yellow)
    font-weight bold

.t-due-date-hint-green
    color var(--text-color)
    font-weight 500

.t-task-flag-box
    @media forMobile
        flex 1

    .t-task-flag-box-content
        .dropdown-toggle
            padding-right 1.75rem

            &:hover
                cursor pointer
            &:after
                color var(--light-gray)

        @media forMobile
            background var(--background-color)
            padding 0.5rem 1rem
            border-radius 0.25rem
            margin-top 0.25rem

    p
        line-height 1.25

.t-task-users-box
    p
        line-height 1.25

.ui-menu .ui-menu-item
  color var(--menu-link-color) !important
  padding 0.5rem 1rem !important
  border-radius 0px !important
  border 0 !important
  font-size 0.8rem !important
  font-weight normal !important

  &:hover, &.ui-state-focus
    margin 0
    font-weight normal !important
    background-color var(--accent-color)
    color #fff !important


@keyframes rotate
  to
    transform rotate(360deg)

@keyframes opa
  from
    opacity 0

  to
    opacity 1

@keyframes rotate90
  to
    transform rotate(90deg)

.button
  &.button--loading
    position relative
    transition: none

    &:after
      position absolute
      top calc(50% - 8px)
      left 0.75rem
      display inline-block
      content ''
      width 16px
      height 16px
      animation opa 1s linear, rotate 1s linear infinite
      background-image url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMzA0IDQ4YzAgMjYuNTEtMjEuNDkgNDgtNDggNDhzLTQ4LTIxLjQ5LTQ4LTQ4IDIxLjQ5LTQ4IDQ4LTQ4IDQ4IDIxLjQ5IDQ4IDQ4em0tNDggMzY4Yy0yNi41MSAwLTQ4IDIxLjQ5LTQ4IDQ4czIxLjQ5IDQ4IDQ4IDQ4IDQ4LTIxLjQ5IDQ4LTQ4LTIxLjQ5LTQ4LTQ4LTQ4em0yMDgtMjA4Yy0yNi41MSAwLTQ4IDIxLjQ5LTQ4IDQ4czIxLjQ5IDQ4IDQ4IDQ4IDQ4LTIxLjQ5IDQ4LTQ4LTIxLjQ5LTQ4LTQ4LTQ4ek05NiAyNTZjMC0yNi41MS0yMS40OS00OC00OC00OFMwIDIyOS40OSAwIDI1NnMyMS40OSA0OCA0OCA0OCA0OC0yMS40OSA0OC00OHptMTIuOTIyIDk5LjA3OGMtMjYuNTEgMC00OCAyMS40OS00OCA0OHMyMS40OSA0OCA0OCA0OCA0OC0yMS40OSA0OC00OGMwLTI2LjUwOS0yMS40OTEtNDgtNDgtNDh6bTI5NC4xNTYgMGMtMjYuNTEgMC00OCAyMS40OS00OCA0OHMyMS40OSA0OCA0OCA0OCA0OC0yMS40OSA0OC00OGMwLTI2LjUwOS0yMS40OS00OC00OC00OHpNMTA4LjkyMiA2MC45MjJjLTI2LjUxIDAtNDggMjEuNDktNDggNDhzMjEuNDkgNDggNDggNDggNDgtMjEuNDkgNDgtNDgtMjEuNDkxLTQ4LTQ4LTQ4eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==')
      background-size contain

    svg
      opacity 0

.sidebar
  .t-header-wrapper
    #t-menu-dropdown-tag
      position initial

.drawer .drawer-body .drawer-block
    background var(--background-color-history)

.rotated
  animation rotate90 .1s linear

.t-header-wrapper .dropdown > .dropdown-body
  top auto

.t-relations-hover-block
  list-style none
  padding 0

  li
    padding 0.25rem 0.5rem 0.5rem

    &:hover
      background var(--background-color-table-row-hover)

  .break-word
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

.t-description-wrapper
  font-size 0.9375rem
  margin-top 1rem
  margin-bottom 3rem
  word-break break-word

  @media forMobile
    font-size 1rem

.t-comment-edit-form-wrapper
  flex 1

.t-comment-form
  margin-top 0.5rem
  margin-bottom 1.25rem
  padding-left 2.75rem

  @media forMobile
    padding-left 0

.add-task-link.mobile-only
  position fixed
  bottom 1rem
  right 1rem
  margin-right 0

  &:hover
    top auto

.t-assignee img,
.t-toggle-all-assignee .userpic
  border 3px solid var(--background-color-blank)
  box-sizing content-box

.t-assignee .t-assignee-invite-box
  border-radius 50%
  border 3px solid transparent
  box-sizing content-box
  width 3rem
  height 3rem
  font-size 1.25rem
  color var(--gray)
  line-height 3rem
  display inline-block
  background transparent
  margin-bottom 3px

.t-assignee
  cursor pointer
  opacity 0.5
  margin-bottom 0.75rem

  .smaller
    font-size 70%

  div.smaller
    position relative
    display block
    overflow hidden
    text-overflow ellipsis

  .badge
    max-width 100%
    display inline-block
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    box-sizing border-box

  &.active
    opacity 1

    img
      border 3px solid var(--blue)

.sidebar .t-header-wrapper
  @media forDesktop
    position sticky
    top 0
    z-index 99
    background var(--background-color-blank)

.sidebar .sidebar-body
  height 100%

.ui-autocomplete
  li.ui-menu-item
    padding 6px 12px !important

.t-preview-description
  line-height 1.3

  .t-preview-description-content
    margin 0.5rem 0

.t-tiny-ad-box
  border-radius 0.375rem
  background var(--background-color-input-solid)
  padding 0.75rem 0.75rem
  margin-top 0.25rem
  font-size 0.875rem
  overflow hidden

  .t-tiny-ad-close
    float right
    color var(--light-gray)
    font-size 1.25rem
    position relative
    top -0.6125rem

  .heading
    padding 0
    margin 0 0 0.75rem

  img.t-mobile-badge
    display block
    max-width 95%
    margin 0 auto 0.75rem

    @media (max-width: 760px)
      max-width 75%

  p
    font-size 0.8125rem

    @media (max-width: 760px)
      font-size 0.937rem

  p.hint
    font-size 0.75rem

    @media (max-width: 760px)
      font-size 0.875rem

    a
      white-space nowrap
      text-overflow ellipsis
      height 1rem
      max-width 80%
