.tasks-done-confirm-dialog
    .dialog-buttons
        line-height 2em

        .t-control-link
            display inline-block
            vertical-align top
            height: 2.5em
            padding: .15em 1em;
            margin: 0 0 0 .5em
            border-radius .25em
            transition: background 200ms linear;
            box-sizing border-box
            font-weight: bold

        .t-change-status-link
            border: 1px solid rgba(0,0,0,0.1)

        .t-cancel-link-wrapper
            line-height 2.5em
            margin-left 5px
            .t-loading
                margin-top 8px
