.dialog-is-shown
    position relative
    height: auto

    #wa
        overflow hidden

    .t-dialog-wrapper
        display block

.t-dialog-wrapper
    display none
    position absolute
    top: 0
    left: 0
    width: 100%
    padding: 0 0 0 15rem;
    min-height: 100%
    box-sizing border-box
    transition background 200ms linear
    z-index 1

    @media forMobile
        padding 0

    &.has-ornament
        background var(--dialog-background-color)
        backdrop-filter blur(0.25rem)

    .t-dialog-content
        position relative
        top: 93px
        width: 100%
        margin: auto
        background var(--background-color-blank)
        box-shadow 0 1.5rem 3rem -1.5rem var(--dialog-shadow-color)
