.t-general-menu
    padding 1rem 1rem 0.5rem

    #t-filters-toggle
        svg
            transition 0.2s
        &.upsidedown
            svg
                transform rotate(180deg)

    .t-filters-wrapper
        display none

        &.is-shown
            display block

.t-my-lists-wrapper
    display none

.t-selection-menu
    padding 1rem 1rem 0.5rem
    display none

    &.is-shown
        display block

.t-selected-item
    .is-bold
        font-weight bold

.t-menu-item
    .icon.size-20
        font-size 1rem !important
