.t-general-menu
    padding 1rem 1rem 0.5rem

    #t-filters-toggle
        svg
            transition 0.2s
        &.upsidedown
            svg
                transform rotate(180deg)

    .t-filters-wrapper
        display none

        &.is-shown
            display block

.t-my-lists-wrapper
    display none

.t-selection-menu
    padding 1rem 1.25rem 0
    display none

    &.is-shown
        display block

.t-selected-item
    .is-bold
        font-weight bold

/******
LEGACY -- REMOVE

.t-header-wrapper
    $header_height = 3.3575em

    border-bottom 1px solid #ddd
    border-radius 2px 2px 0 0

    background #fff linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.07));

    &.is-fixed
        position fixed
        top 0
        z-index 1

    .t-general-menu
        display none
        width 100%
        height $header_height

        &.is-shown
            display table

        .t-menu-wrapper
            display table-cell
            vertical-align top

            .t-relative-wrapper
                position relative
                display inline-block
                vertical-align top

            .t-preview-wrapper
                position absolute
                top 0
                left 0
                display inline-block
                height: $header_height
                line-height $header_height
                padding 0 0 0 1.2em
                color #333
                opacity 1

                .t-menu-item
                    &:first-child
                        padding 0 1em 0 0

                .t-preview-name
                    font-size 21px

                a
                    margin 0 0 0 1em
                    vertical-align middle
                    color: #aaa

            .t-filters-wrapper
                position relative
                display inline-block
                vertical-align top
                opacity 0
                height $header_height

            &.is-filters-shown
                .t-preview-wrapper
                    opacity 0

                .t-filters-wrapper
                    opacity 1
                    height auto

            &.is-animated
                .t-preview-wrapper
                .t-filters-wrapper
                    transition opacity 400ms ease-in-out

            &.is-dropdown-locked
                .dropdown
                    .menu-v
                        display none

            .t-menu-item
                position relative
                display inline-block
                vertical-align top
                height: $header_height
                border-right: 1px solid rgba(0,0,0,.1)
                margin-left -4px


                &:last-of-type
                    border-right: 0

                &.is-loading
                    padding: 0 1em
                    line-height $header_height

                    .loading
                        margin: 0
                        vertical-align middle

                .t-menu-name
                    line-height $header_height
                    padding: 0 1em
                    max-width: 170px;
                    white-space nowrap
                    text-overflow ellipsis
                    overflow: hidden

                    & > i.icon16
                        margin 0 .4em 0 0
                        vertical-align middle

                .dropdown
                    & > li
                        margin 0
                        padding 0
                        .t-nav-item
                            &.is-empty
                                color: grey
                                a
                                    color: grey
                                .icon16
                                    opacity 0.7
                    .t-selected-item
                        display inline-block
                        position relative
                        padding 0 28px 0 14px
                        margin 0
                        max-width: 170px;
                        line-height $header_height
                        white-space nowrap
                        text-overflow ellipsis
                        overflow: hidden

                        .is-bold
                            font-weight bold

                        .icon16
                            position relative
                            top 3px
                            margin-right 5px
                            vertical-align baseline

                        &:after
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 30px;
                            height: 100%;
                            background: transparent url("../img/icons/arror-down-icon.png") 50% no-repeat;
                            background-size: 8px;
                            opacity .5
                    .t-tags-cloud
                        li:hover
                            background transparent!important

                        li .t-tag-link
                            padding 0 5px

                        li .t-tag-link:hover
                            background #e2e0e0
                            opacity 1!important

                        li
                            padding 8px 6px
                            a
                                display inline
                                padding 0
                                margin 1px

                        .t-tag-selected
                            background #e2e0e0
                            padding 0 5px

                    .menu-v
                        width: 200px
                        max-height 500px
                        overflow auto

                .t-milestone-select
                    .t-selected-item
                        max-width 300px
                        font-weight bold

                        .t-milestone-due-date
                            color #999
                            font-weight normal

                .t-milestones-custom-select
                    .t-milestone-due-date
                        display block
                        color #999
                        font-size 11px

            .t-menu-item:first-child
                margin-left 0px


        & > .t-right-column
            display table-cell
            vertical-align top
            text-align right
            white-space nowrap

            &.is-middle
                vertical-align middle

            .t-search-wrapper
                display inline-block
                vertical-align top
                width: auto

                .t-search-block
                    padding: 0 1em 0
                    line-height $header_height

                    .t-search-input
                        width: 100%
                        box-sizing border-box
                        vertical-align middle

            .t-toolbar-wrapper
                display inline-block
                vertical-align top
                .t-toolbar-item
                    display inline-block
                    vertical-align top
                    margin-left 4px
                    .t-my-list-toggle
                        display inline-block
                        margin-top 15px

            .t-order-wrapper
                display inline-block
                vertical-align top
                white-space normal

                .t-order-selector
                    .dropdown
                        display inline-block
                        text-align left

                        & > li
                            margin: 0

                        .t-selected-item
                            position relative
                            padding: 0 2em 0 1em
                            line-height $header_height

                            &:after
                                content: "";
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 30px;
                                height: 100%;
                                background: transparent url("../img/icons/arror-down-icon.png") 50% no-repeat;
                                background-size: 8px;
                                opacity .5

                        .menu-v
                            width: 150px

        .t-types-wrapper
            display inline-block
            vertical-align top
            width: $header_height * 2

            .t-type-item
                display inline-block
                vertical-align top
                width: $header_height
                height: $header_height

                background transparent 50% no-repeat
                background-size 18px
                transition background 200ms linear

                &:hover
                &.is-active
                    background-color: rgba(199,199,199,.33)

                &.t-detailed-type
                    background-image url("../img/icons/large-type-icon.png")

                &.t-column-type
                    background-image url("../img/icons/column-type-icon.png")

                &.t-table-type
                    background-image url("../img/icons/short-type-icon.png")

    .icon16.t-clear-filters
        background-image url("../img/icons/clear-filters.png")
        background-size: 16px 16px
        opacity: 0.2

        &:hover
            opacity: 0.4

    .t-selection-menu
        display none

        &.is-shown
            display block

        .t-menu-wrapper
            $button_height = 2em
            $icon_size = ($button_height/2)

            padding: ( ($header_height - $button_height)/ 2 )

            .t-menu-item
                position relative
                display inline-block
                vertical-align top
                padding 0 .5em
                margin 0 0 0 1em
                min-width 42px
                height $button_height
                box-sizing border-box

                line-height $button_height
                text-align center
                border-radius 3px

                &:first-child
                    margin-left: 0

                &.t-checkbox-wrapper
                    margin-left: -.67875em
                    min-width 0
                    width 2.5em
                    padding-left 0
                    padding-right 0
                    text-align center

                    .t-checkbox
                        position: relative;
                        top: 1px;

                &.t-return-link
                    background: url("../img/icons/arrow-left-icon.png") 50% no-repeat;
                    background-size: $icon_size;

                &.t-forward-link
                    background: url("../img/icons/arrow-right-icon.png") 50% no-repeat;
                    background-size: $icon_size;

                &.t-tags-dropdown
                    display inline-block

                    .counter
                        margin 0 0 0 4px

                    .t-tags-cloud
                        text-align center
                        .t-cloud-link
                            display inline-block
                            &:hover
                                background #e2e0e0
                                opacity 1!important

                    & > li
                        margin: 0

                        .menu-v
                            margin-top 0

                            & > li
                                padding 6px 8px

                    &.is-shown
                        .menu-v
                            display block

                    .t-add-tag
                        .t-input-wrapper
                            position relative

                            .t-input
                            .t-submit
                                display block
                                box-sizing border-box

                            .t-input
                                width: 100%

                            .t-submit
                                position absolute
                                top: 0
                                right: 0
                                height: 100%

*****/
