.text-red 
    color var(--red)

.text-green
    color var(--green)

.text-blue
    color var(--blue)

.text-yellow
    color var(--yellow)

.text-orange
    color var(--orange)

.text-purple
    color var(--purple)

.dropdown-toggle
    i 
        margin: 0 0.625rem 0 0.125rem