.text-red
    color var(--red)

.text-green
    color var(--green)

.text-blue
    color var(--blue)

.text-yellow
    color var(--yellow)

.text-orange
    color var(--orange)

.text-purple
    color var(--purple)

.dropdown-toggle
    .icon
        margin: 0 0.5em 0 0 !important

    i.size-20,
    i.userpic
        width 1.25em
        height 1.25em
        min-width 1.25em
        margin-top -0.1875em
        margin-left -0.1875em
