.icon16
    &.toggle-left
        background-image: url("../img/icons/sprite16.png");
        background-size: 160px auto;
        background-position: -(16*0)px (-(16*1)px);

    &.toggle-center
        background-image: url("../img/icons/sprite16.png");
        background-size: 160px auto;
        background-position: -(16*1)px (-(16*1)px);

    &.toggle-right
        background-image: url("../img/icons/sprite16.png");
        background-size: 160px auto;
        background-position: -(16*2)px (-(16*1)px);

    &.basket
        background-image: url("../img/icons/sprite16.png");
        background-size: 160px auto;
        background-position: -(16*7)px 0;

    &.pencil
        background-image: url("../img/icons/sprite16.png");
        background-size: 160px auto;
        background-position: -16px 0;

    &.lifebuoy
        background-image: url("../img/icons/sprite16.png");
        background-size: 160px auto;
        background-position: -(16*3)px 0;

    &.screen
        background-image: url('../img/icons/sprite16.png');
        background-size: 160px auto;
        background-position: 0 0;

    &.kill-wa-style
        background-position 50%
        background-size contain !important;

    &.colors
        background-image: url("../img/icons/sprite16.png");
        background-size: 160px auto;
        background-position: -(16*5)px 0;

    &.cheque-pen
        background-image: url("../img/icons/sprite16.png");
        background-size: 160px auto;
        background-position: -(16*6)px 0;

    &.invoice
        background-image: url("../img/icons/sprite16.png");
        background-size: 160px auto;
        background-position: -(16*4)px 0;

    &.magicwand
        background-image: url("../img/icons/sprite16.png");
        background-size: 160px auto;
        background-position: -(16*2)px 0;
