$white_color = #fff;
$gray_color = #f7f7f7;
$green_color = #f3ffe3;
$blue_color = #f8ffff;
$purple_color = #fcf3ff;
$red_color = #fff1f1;
$yellow_color = #ffffe3;

.t-project-page

    &.t-white
        background: $white_color;

    &.t-gray
        background: $gray_color;

    &.t-green
        background: $green_color;

    &.t-blue
        background: $blue_color;

    &.t-purple
        background: $purple_color;

    &.t-red
        background: $red_color;

    &.t-yellow
        background: $yellow_color;

    .t-control-link
        display: inline-block;
        vertical-align: middle;
        height: 2rem;
        padding: 0 0.5rem;
        border-radius: 0.25rem;
        line-height: 2rem;
        background-color: #f0f0f0;

        &.t-forward-link
            width: 1rem;
            background: transparent url("{$wa_app_static_url}img/icons/arrow-right-icon.png") 50% no-repeat;
            background-size: 1rem;