$border_color = #ddd;

.t-settings-sidebar
    background-color var(--background-color-blank)

#project-ordering-form
    position: relative;

    #bottom-list
    #top-list
        min-width:400px;

    #top-list
        border-bottom: 1px solid #eee;

        .drag-handle
            cursor: move;

    #bottom-list
        .drag-handle
            visibility: hidden;

    .clone
        background: white
        width: 100%
        visibility: visible !important
        position: absolute !important

.t-settings-wrapper

    .t-settings-list

        .t-settings-item
            padding: 0.5em 0;
            border-bottom 1px solid var(--border-color-soft)

            .t-settings-header
                display table
                width 100%
                table-layout fixed
                box-sizing border-box

                .t-item-icon
                .t-item-name
                .t-buttons-block
                    display table-cell
                    vertical-align middle
                    padding .25rem
                    box-sizing border-box

                .t-item-icon
                    width: 32px
                    cursor: move;
                    text-align left

                .t-item-name
                    white-space nowrap
                    text-overflow ellipsis
                    overflow hidden

                    .badge
                        padding 0.5rem 0.75rem

                    input
                        margin 0 0 0 .25em
                        box-sizing border-box

                .t-buttons-block
                    text-align right
                    padding-right: 1rem
                    width: 80px

                    .t-button-item
                        display inline-block
                        vertical-align top
                        margin: 0 0 0 1rem

                        i
                            margin: 0
                            padding: 0

            .t-hidden-block
                display none
                padding: 1rem
                border-radius 0.5rem
                background var(--background-color)
                margin 1rem 0 0

            &.is-opened
                border-bottom none

                .t-hidden-block
                    display block

                .hide-when-opened
                    display: none !important

            &.is-closed
                .hide-when-closed
                    display: none !important

            &.ui-sortable-helper
                .t-hidden-block
                    background: white

            &.is-special
                .t-settings-header
                    .t-item-icon
                        cursor: default
                        background: transparent

            &.template
                display: none !important



    .t-save-settings-wrapper
        margin: 2rem 0 0 2rem

        .t-add-settings-link
        .t-save-settings-button
            display inline-block
            box-sizing border-box

    .t-add-settings-wrapper
        margin 0.75rem 2rem

/* Info panel after successfull save */
// .t-saved
//     background: #dfd;
//     border-bottom: 1px solid rgba(0,0,0,0.13);

.t-project-settings-colorbox
    label
        display: block
        padding: 0.75rem
        line-height: 0
        border-radius 0.25rem
        border 2px solid transparent

        &.t-white
            background: $white_color;
            border-color: $white_color_strong;

        &.t-gray
            background: $gray_color_strong;

        &.t-yellow
            background: $yellow_color_strong;

        &.t-green
            background: $green_color_strong;

        &.t-blue
            background: $blue_color_strong;

        &.t-red
            background: $red_color_strong;

        &.t-purple
            background: $purple_color_strong;

.t-project-workflow-box
    background var(--background-color)
    border-radius 0.5rem
