.t-sidebar-block
    position relative

    &.fixed-to-top
        z-index 1

    &.fixed-to-bottom
        z-index 1

    .t-tags-wrapper
        .t-tag-selected
            background #e2e0e0
            padding 0 5px

// COLLAPSIBLE SECTIONS IN SIDEBAR
.block.collapsed
    .hide-when-collapsed
        display: none

    .heading i.icon16.darr
        background-position: -144px 0 // .rarr

.t-view-list
    li
        a
            white-space nowrap
