.t-sidebar-block
    position relative

    &.fixed-to-top
        z-index 1

    &.fixed-to-bottom
        z-index 1

    .bricks
        a
            @media forMobile
                font-size 1rem
                padding 0.75rem 1rem
                width calc(50% - 3rem)
                
            .icon
                @media forMobile
                    font-size 2rem

// COLLAPSIBLE SECTIONS IN SIDEBAR
// .block.collapsed
//     .hide-when-collapsed
//         display: none

    .heading i.icon16.darr
        background-position: -144px 0 // .rarr

svg
    &.t-white
        color: $white_color_strongest !important
        background: transparent

    &.t-gray
        color: $gray_color_strongest !important
        background: transparent

    &.t-yellow
        color: $yellow_color_strongest !important
        background: transparent

    &.t-green
        color: $green_color_strongest !important
        background: transparent

    &.t-blue
        color: $blue_color_strongest !important
        background: transparent

    &.t-red
        color: $red_color_strongest !important
        background: transparent

    &.t-purple
        color: $purple_color_strongest !important
        background: transparent
