@import "variables.styl";

// remove after fixed in WA
@import "wa-fix.styl";

input
select
textarea
    outline: none

form
    overflow inherit

input[type="submit"]
input[type="button"]
input[type="radio"]
label
    cursor pointer

#wa-app

    &:before
    &:after
        display none

.t-tag-link
    color var(--chips-tags-link-color)
    background var(--chips-tags-background-color)
    border-radius 0.25em
    padding 0.375em 0.5em
    font-weight 500
    margin-right 0.25em

.t-white
    background: $white_color;

.t-gray
    background: $gray_color;

.t-green
    background: $green_color;

.t-blue
    background: $blue_color;

.t-purple
    background: $purple_color;

.t-red
    background: $red_color;

.t-yellow
    background: $yellow_color;


@import "header.styl";

@import "sidebar.styl"

.dropdown
    &.is-right
        .menu-v
            left: auto
            right: 0

    .menu-v
        a
            b
                font-weight: normal

            i
                font-style normal

// PRIORITY CHANGER
.t-priority-changer
    display table
    width 100%

    .t-priority-text
    .t-slider-wrapper
        display table-cell
        vertical-align middle
        width 60%

    .t-priority-text
        text-align center
        font-weight bold
        padding-left 1rem
        font-size 0.9375rem
        padding-right 0.25rem
        white-space nowrap

        &.color-1
            color var(--light-gray)

        &.color-2
            color var(--text-color)

        &.color-3
            color var(--orange)

        &.color-4,
        &.color-5
            color var(--red)

    .t-slider-wrapper
        .t-priority-slider
            $height = 16px
            $color = var(--light-gray)

            position relative
            width auto
            height $height
            background transparent
            border solid transparent
            border-width 0 4px
            border-radius ($height/2)

            &:before
                $size = 4px
                content ""
                position absolute
                top 50%
                left 0
                width 100%
                height $size
                margin ($size/-2) 0 0 0
                background $color

            .ui-slider-handle
                $width = 8px
                position absolute
                top ($height/2)
                padding 0
                width $width
                height $width
                margin ($width/-2) 0 0 ($width/-2)
                border none
                background red
                border-radius 50%
                box-sizing border-box
                box-shadow none
                cursor pointer
                outline none

                &.is-animated
                    transition background 200ms linear, left 200ms linear

                &.is-active
                    $width = 16px
                    width $width
                    height $width
                    margin ($width/-2) 0 0 ($width/-2)

                &.color-1
                    background #81bbf5

                &.color-2
                    background var(--gray)

                &.color-3
                    background var(--orange)

                &.color-4,
                &.color-5
                    background #dd301c

            .t-ornament
                $width = 16px
                position absolute
                top ($height/2)
                padding 0
                width $width
                height $width
                margin ($width/-2) 0 0 ($width/-2)
                border 2px solid $color
                background var(--background-color-blank)
                border-radius 50%
                box-sizing border-box
                cursor pointer

                &.t-ornament--exclamation
                    .svg-inline--fa
                        display none

                    &.is-active
                        background-color transparent
                        width 20px
                        height 20px
                        font-size 1.25rem
                        border 0
                        border-radius 0
                        top 50%
                        margin 0
                        transform translateX(-50%) translateY(-50%)
                        z-index 99

                        &:after
                            content ''
                            position absolute
                            display block
                            background-color var(--background-color-blank)
                            width 20px
                            height 20px
                            top 50%
                            left 50%
                            transform translateX(-50%) translateY(-50%)

                        .svg-inline--fa
                            display block
                            position relative
                            z-index 9

                &[data-value='3'].is-active
                    background url('../img/priority-fire.gif') no-repeat
                    background-size 2.5em 2.5em
                    width 2.5em
                    height 2.5em
                    border 0
                    border-radius 0
                    top 50%
                    margin 0
                    transform translateX(-50%) translateY(-75%)
                    z-index 99

// NOTICES
.t-notice-wrapper

    display none
    padding 2em;
    text-align center

    &.user-assigned
        .t-image
            img
                border-radius 50%

    &.is-shown
        display block

    .t-image
        width: 256px
        margin: auto

        img
            width 100%
            opacity .25

    .t-header
        margin: 12px 0 0
        font-size: 1.25rem

    .t-desc
        margin: 12px 0 0
        font-size 0.875rem

// DEEP DEEP MAGIC
.not-implemented.not-implemented.not-implemented.not-implemented.not-implemented.not-implemented.not-implemented
    border: 1px dashed orange
    box-sizing border-box

// Help message then dragover file
#wa
    &.file-hover
        .f-file-dragover-wrapper
            visibility visible
            opacity 1

    .f-file-dragover-wrapper
        visibility hidden
        position fixed
        top 0
        left 0
        width 100%
        height 100%
        background rgba(255,255,255,.8)
        text-align center
        opacity 0
        transition opacity 200ms linear

        .f-message-wrapper
            display inline-block
            position relative
            top 48%
            color: #888
            font-size 1.6em
            background #fff
            box-shadow: 0 0 60px 30px #fff;

// DIALOG CHANGE PRIORITY
.t-priority-multi-changer
    padding 10px

    .t-priority-changer
        margin 1.5rem 0.5rem 3rem

    .buttons-wrapper
        //position: absolute;
        //bottom: 10px;
        //right: 10px;
        //z-index 1000;

        input
            margin 0 0 0 .5em
            cursor pointer

            &:first-child
                margin-left 0

// USER TEAM LIST

.t-team-list-wrapper
    .t-link-item
        display none

        &.is-shown
            display block

    ul.menu-v
        margin-top: -5px

    .t-user-item
        display none

        &.is-shown
            display block

        .t-user-label
            input
                position relative
                top -1px

            .userpic20
                position relative
                top -1px
                display inline-block
                vertical-align middle
                margin: 0 .4em
                border 1px solid rgba(0,0,0,.1)

.t-task-forward-wrapper
    select
        max-width 400px
        box-sizing border-box

@import "helpers.styl";

@import "logs.styl";

@import "task.styl";

@import "editTask.styl";

@import "dialog.styl";

@import "attachList.styl";

@import "settings.styl";

@import "milestones.styl";

@import "project.styl";

@import "icons.styl"

@import "list.styl"

@import "confirm.styl"

@import "2.0.styl"
