.t-tasks-wrapper

    .t-checkbox-column
        display none
        padding 1.25rem 0.25rem 1.25rem 1rem

    &.t-selection-checkboxes-visible

        .t-checkbox-column
            display block

    .list

        .item

            .image
                padding-left 0.75rem

            .t-task-item-title
                font-size 0.9375rem

                .t-status-wrapper
                    font-size 0.875rem

        .item.selected

            background var(--accent-color) !important
            color var(--white) !important

            *
                color var(--white) !important

                .t-pinned-comment
                    background var(--light-gray)

        &.new-task
            margin-bottom 0

            li
                background var(--highlighted-yellow)
                position relative
                box-shadow 0 0.5rem 1rem -0.5rem var(--dialog-shadow-color)
                z-index 1

.t-status-wrapper
    white-space nowrap
    display inline-block

    h2 & {
        font-size 0.75em
        padding 0.25rem 0.5rem
        margin-left 0.5rem
        white-space nowrap
        position relative
        top -2px
    }

    &.is-new
        $color = var(--green)
        border-color $color
        background $color
        color var(--white)

    &.is-done
        $color = var(--light-gray)
        border-color $color
        background $color
        color #fff

    &.is-archived
        $color = var(--brown)
        border-color $color !important
        background $color !important
        color var(--white) !important


.t-priority-wrapper
    position relative
    color var(--text-color-strong)
    border-radius 0.25em
    margin-right 0.125em

    &.is-low
        color var(--gray)

    &.is-normal

    &.is-high
        font-weight bold
        color var(--text-color-stronger)

        svg
            color gold

    &.is-urgent
        font-weight bold
        color orangered

    &.is-onfire
        font-weight bold
        color white
        background #f22 url('../img/priority-fire.gif') no-repeat !important
        background-size 13em 13em !important
        background-position center -6em !important
        padding 0.125em 0.25em
        margin-right 0.25em

    &.t-priority-clickable-wrapper
        background var(--background-color-input-solid)
        border 0.125em solid transparent
        padding 0 0.25em
        transition 0.1s
        margin-right 0.5rem

        &.t-white
            background: $white_color_strong;

        &.t-gray
            background: $gray_color_strong;

        &.t-green
            background: $green_color_strong;

        &.t-blue
            background: $blue_color_strong;

        &.t-purple
            background: $purple_color_strong;

        &.t-red
            background: $gred_color_strong;

        &.t-yellow
            background: $yellow_color_strong;

        .icon
            margin-right 0.375em

        &:hover
            border-color var(--border-color-input)



.t-priority-changer-wrapper
    display none
    position absolute
    top -5px
    left 0
    z-index 99
    width 400px
    background #fff
    padding 0.625rem 1rem
    border-radius 0.25em
    box-shadow 0 1rem 2rem -0.25rem rgba(0,0,0,0.2), 0 0.5rem 1rem -0.75rem rgba(0,0,0,0.4)

    &.is-shown
        display block


.t-tags-wrapper
    .is-template
        display none

    .t-tag-item
        .t-remove-tag
            display none

        &:hover
            .t-remove-tag
                display inline

.t-task-header
    .t-menu-name
        margin-top 0.25rem

        .icon
            margin-right 0.75rem

            .size-20
                width 1.25rem
                height 1.25rem
                margin-top 0.125rem

.t-completed-seal-background
    background url("../img/done-seal.png") no-repeat 350px 350px;

.t-quote-wrapper
    border-radius 1rem

.t-task-buttons
    background-color var(--dialog-background-color)
    backdrop-filter blur(0.25rem)
    position sticky
    z-index 13
    top 4rem
    margin-top 1rem
    margin-bottom 1rem
    padding 1rem 0
    line-height 3rem

.t-relations-wrapper
    margin-bottom 2.5rem

    .app-icon
        width 1.25rem
        height 1.25rem
        position relative
        top 0.125rem

    .badge
        padding-top 0.25em
        padding-bottom 0.25em
        margin-top 0.1875rem

.t-add-comment-button
    margin-left 60px !important
