$white_color = #fff;
$gray_color = #f7f7f7;
$green_color = #f3ffe3;
$blue_color = #f8ffff;
$purple_color = #fcf3ff;
$red_color = #fff1f1;
$yellow_color = #ffffe3;

$white_color_strong = rgba(0,0,0,0.06);
$gray_color_strong = #ddd;
$green_color_strong = #cea;
$blue_color_strong = #bef;
$purple_color_strong = #dcf;
$red_color_strong = #fcc;
$yellow_color_strong = #fff7aa;

smartphoneWidth = 760px
mediumWidth = 1360px

forMobile = "only screen and (max-width: " + smartphoneWidth + ")"
forMedium = "only screen and (max-width: " + mediumWidth + ")"
