:root {
    --white-color: #fff;
    --gray-color: #f7f7f7;
    --green-color: #f3ffe3;
    --blue-color: #f8ffff;
    --purple-color: #faecff;
    --red-color: #fff1f1;
    --yellow-color: #ffffe3;

    --white-color-strong: #f3f3f3;
    --gray-color-strong: #ddd;
    --green-color-strong: #cea;
    --blue-color-strong: #bef;
    --purple-color-strong: #dcf;
    --red-color-strong: #fcc;
    --yellow-color-strong: #fff7aa;

    --white-color-strongest: rgba(127,127,127,0.25);
    --gray-color-strongest: #888;
    --green-color-strongest: #95ce5d;
    --blue-color-strongest: #51b9dd;
    --purple-color-strongest: #8b77b1;
    --red-color-strongest: #de7c7c;
    --yellow-color-strongest: gold;

    --kanban-fade-from-color: rgba(255, 255, 255, 0);
    --kanban-fade-to-color: rgba(255, 255, 255, 1);

    --button-light-gray-background-color-hover: rgba(0, 0, 0, 0.1);

    --buttons-sticky-mode-background-color: rgba(255, 255, 255, 0.8);

    --background-color-history: #f3f5fa;

    --new-task-background-overlay-color: rgba(242, 242, 242, 0.75);
    --big-editor-shadow-color: rgba(0,0,0,0.5);

    --attachment-droparea-background: rgba(255,255,255,0.5);
    --attachment-droparea-background-hover: rgba(255,255,255,0.8);
}

[data-theme="dark"] {
    --white-color: #000;
    --gray-color: #2a2a2a;
    --green-color: #112600;
    --blue-color: #001427;
    --purple-color: #150031;
    --red-color: #2f0000;
    --yellow-color: #271d00;

    --white-color-strong: #151e29;
    --gray-color-strong: #353535;
    --green-color-strong: #1d3a00;
    --blue-color-strong: #00203f;
    --purple-color-strong: #2a0042;
    --red-color-strong: #5c0000;
    --yellow-color-strong: #3c2d00;

    --white-color-strongest: rgba(127,127,127,0.25);
    --gray-color-strongest: #2a5300;
    --green-color-strongest: #112200;
    --blue-color-strongest: #002c55;
    --purple-color-strongest: #3e0060;
    --red-color-strongest: #730000;
    --yellow-color-strongest: #553f00;

    --kanban-fade-from-color: rgba(0, 0, 0, 0);
    --kanban-fade-to-color: rgba(0, 0, 0, 1);

    --button-light-gray-background-color-hover: rgba(255, 255, 255, 0.25);

    --buttons-sticky-mode-background-color: #19172c;

    --background-color-history: #07051c;

    --new-task-background-overlay-color: rgba(10, 0, 20, 0.85);
    --big-editor-shadow-color:rgba(0,0,0,0.65);

    --attachment-droparea-background: rgba(25,23,44,0.5);
    --attachment-droparea-background-hover: rgba(25,23,44,0.85);
}

$white_color = var(--white-color);
$gray_color = var(--gray-color);
$green_color = var(--green-color);
$blue_color = var(--blue-color);
$purple_color = var(--purple-color);
$red_color = var(--red-color);
$yellow_color = var(--yellow-color);

$white_color_strong = var(--white-color-strong);
$gray_color_strong = var(--gray-color-strong);
$green_color_strong = var(--green-color-strong);
$blue_color_strong = var(--blue-color-strong);
$purple_color_strong = var(--purple-color-strong);
$red_color_strong = var(--red-color-strong);
$yellow_color_strong = var(--yellow-color-strong);

$white_color_strongest = var(--white-color-strongest);
$gray_color_strongest = var(--gray-color-strongest);
$green_color_strongest = var(--green-color-strongest);
$blue_color_strongest = var(--blue-color-strongest);
$purple_color_strongest = var(--purple-color-strongest);
$red_color_strongest = var(--red-color-strongest);
$yellow_color_strongest = var(--yellow-color-strongest);

smartphoneWidth = 760px
mediumWidth = 1360px

forMobile = "only screen and (max-width: " + smartphoneWidth + ")"
forMedium = "only screen and (max-width: " + mediumWidth + ")"
forDesktop = "only screen and (min-width: " + smartphoneWidth + ")"
