{strip}
<div class="t-main-wrapper">
    <div class="t-notice-list">
        <div class="t-notice-wrapper is-shown">
            <div class="t-image">
                <img src="{$wa_app_static_url}img/notice/welcome.png" alt="">
            </div>
            <h3 class="t-header">[`Create a project first`]</h3>
            <p class="t-desc">{sprintf_wp('You need to %sadd your first project%s to be able to create tasks.', '<a href="#/settings/project/add/">', '</a>')}</p>
        </div>
    </div>
</div>
{/strip}