{strip}

<div class="dialog t-priority-multi-changer" id="t-priority-multi-changer">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <a href="#" class="dialog-close js-close-dialog"><i class="fas fa-times"></i></a>
        <header class="dialog-header"><h1>[`Change priority`]</h1></header>
        <div class="dialog-content">
            <div class="t-priority-changer">
                <div class="t-slider-wrapper">
                    <div class="t-priority-slider"></div>
                    <input class="t-input" type="hidden" name="data[priority]" value="0">
                </div>
                <div class="t-priority-text"></div>
            </div>

            <div class="buttons-wrapper">
                <input class="button blue custom-mr-12" type="submit" value="[`Set priority`]">
                <a href="#" class="js-close-dialog button light-gray cancel">[`Cancel`]</a>
            </div>
        </div>
    </div>
</div>

{/strip}
