{strip}

{include file="./includes/TasksTaskHelpers.inc.html" inline}

{$is_single = $is_single|default:false}

{* This vars will be mutated by tasksHelper::getDatetime, must be inited first because of Smary & PHP 7.4 cause the warnings otherwise *}
{$time_since_update_period = null}
{$time_since_update_template = null}
{$time_since_update_str = tasksHelper::getDatetime($task.update_datetime, $time_since_update_period, $time_since_update_template)}

{$classes = ['t-task-outer-container']}
{if !empty($is_single)}
    {$classes['is-single'] = 'is-single'}
{/if}

    {* LEGACY if !empty($task.project.color)}
        {$classes[$task.project.color] = $task.project.color}
    {/if *}

{if $task.project.archive_datetime}
    {$classes['is-archived'] = 'is-archived'}
{/if}

{$_priority_class_array = [
    "-1" => "is-low",
    "0" => "is-normal",
    "1" => "is-high",
    "2" => "is-urgent",
    "3" => "is-onfire"
]}

{$_priority_icon = ""}
{if !empty($task.priority)}
    {if $task.priority == '-1'}
        {$_priority_icon = "<i class=\"fas fa-hourglass-half\" style=\"color: var(--light-gray);\"></i>"}
    {/if}
    {if $task.priority == '0'}
        {$_priority_icon = "<i class=\"fas fa-hashtag\" style=\"color: var(--light-gray);\"></i>"}
    {/if}
    {if $task.priority == '1'}
        {$_priority_icon = "<i class=\"fas fa-exclamation-triangle\" style=\"color: orange;\"></i>"}
    {/if}
    {if $task.priority == '2'}
        {$_priority_icon = "<i class=\"fas fa-exclamation-triangle\" style=\"color: red;\"></i>"}
    {/if}
{/if}

{$_task_hooks = $task.hooks|default:[]}
{$_backend_task_hook = $_task_hooks.backend_task|default:[]}

<div class="article {$classes|join:' '}" id="task-{$task.id}" data-task-id="{$task.id}">
    <div class="article-body t-task-wrapper">

        <div class="t-content-column">

            <!-- plugin hook: 'backend_task.%plugin_id%.before_header' -->
            {* @event backend_task.%plugin_id%.before_header *}
            {foreach $_backend_task_hook as $_}{$_.before_header|default:''}{/foreach}

            {* TASK HEADER *}
            <header class="t-task-header">
                <div class="flexbox wrap-mobile full-width custom-mb-20">

                    <div class="t-task-header-content wide flexbox">

                        {* PROJECT *}
                        <a href="#/tasks/project/{$task.project.id}/" class="t-menu-name flexbox space-8">
                            {if !empty($task.project.icon_html)}
                                {$task.project.icon_html}
                            {/if}
                            <span class="semibold">{$task.project.name|escape|truncate:42}</span>
                        </a>

                    </div>

                    <div class="t-controls-wrapper flexbox middle wrap-mobile space-16">

                        {* HIDE FROM INBOX OPTIONS *}
                        {$_hash_type = $hash_type|default:''}
                        {if ($_hash_type == 'inbox' || $_hash_type == 'hidden') && $task.priority <= 1}
                            <span class="t-postpone-wrapper t-visible-part">
                                {$intervals = ['1d' => '1 day', '3d' => '3 days', '1w' => '1 week', '2w' => '2 weeks']}
                                <span id="js-hide-task-dropdown" class="dropdown t-custom-select" style="line-height: 1"
                                    {if $task.priority > 0}
                                        data-errormsg="[`You can't hide high priority task`]"
                                    {elseif $task.assigned_contact_id != $wa->user('id')}
                                        data-errormsg="[`You can only hide tasks assigned to you.`]"
                                    {/if}
                                >

                                    <a class="dropdown-toggle without-arrow button circle {if $task.hidden_timestamp && $task.hidden_timestamp > time()}gray{else}light-gray{/if} selected-custom-item inline-link" href="javascript:void(0);" style="top: 3px;">
                                        <i class="fas fa-eye-slash"></i>
                                    </a>
                                    <div class="dropdown-body">

                                        {if $task.hidden_timestamp && $task.hidden_timestamp > time()}
                                            <div class="box align-center custom-pb-0">
                                                <h6 class="align-center small">
                                                    <i class="fas fa-inbox custom-mr-4"></i>
                                                    [`Hidden until`] {waDateTime::format('humandate', $task.hidden_timestamp)}
                                                </h6>
                                            </div>
                                        {/if}

                                        <ul class="menu">
                                            {if $task.hidden_timestamp && $task.hidden_timestamp > time()}
                                                <li class="t-nav-item">
                                                    <a class="set-custom-select" href="javascript:void(0);" data-value="">[`Unhide`]</a>
                                                </li>
                                            {/if}
                                            {foreach $intervals as $value => $name}
                                                <li class="t-nav-item">
                                                    <a class="set-custom-select" href="javascript:void(0);" data-value="{$value}">{$name}</a>
                                                </li>
                                            {/foreach}
                                        </ul>
                                        <div class="box align-center custom-pt-0">
                                            <p class="hint">
                                                <i class="fas fa-inbox custom-mr-4"></i>
                                                [`Hide tasks from your inbox for a specific period of time to focus on other important tasks. Your teammates will continue to see your hidden tasks as open and visible.`]
                                            </p>
                                        </div>
                                    </div>
                                    <input class="change-postpone-field" type="hidden" name="change-postpone-field" value="!">
                                    <script>
                                        ( function($) {
                                            $("#js-hide-task-dropdown").waDropdown();
                                        })(jQuery);
                                    </script>

                                </span>
                            </span>
                        {/if}

                        {* WATCH *}
                        <a class="t-favorite-link button light-gray rounded t-set-favorite nowrap" href="javascript:void(0);">
                            <i class="fas fa-star {if empty($task.favorite)}text-light-gray{else}text-yellow{/if}"></i>
                            <span class="custom-ml-4"{if !empty($task.favorite)} style="display: none;"{/if}>[`Watch`]</span>
                            <span class="custom-ml-4"{if empty($task.favorite)} style="display: none;"{/if}>[`Watching`]</span>
                        </a>

                        {* EDIT & DELETE *}
                        {if $task.rights_info.can_edit|default:false}
                            <span>
                                <a href="#/task/{$task.project_id}.{$task.number}/edit/" class="t-edit-task-link nowrap button light-gray rounded">
                                    <i class="fas fa-edit text-blue"></i>
                                    <span class="custom-ml-4">[`Edit`]</span>
                                </a>
                            </span>
                        {/if}
                        {if $task.rights_info.can_delete|default:false}
                            <span>
                                <a href="javascript:void(0);" class="t-delete-task-link nowrap button light-gray circle" title="[`Delete`]">
                                    <i class="fas fa-trash-alt text-red"></i>
                                </a>
                            </span>
                        {/if}

                    </div>

                </div>

                {* USERS & DEADLINES *}
                <div class="flexbox space-16 custom-mb-16 wrap-mobile">

                    <div class="wide" style="position: relative;">

                        {* AUTHOR OF THE LAST ASSIGNMENT *}
                        {$_assignment_creator = $task.assignment_creator}

                        {* CURRENT ASSIGNED CONTACT *}
                        {$_assigned_contact = $task.assigned_contact}

                        <div class="flexbox space-12">

                            <div class="flexbox space-8">
                                <a href="#/tasks/assigned/{$_assignment_creator.id}/{* tasksHelper::getProfileURL($_assignment_creator.id) *}" title="{$_assignment_creator.name|escape}">
                                    <img class="userpic userpic48" src="{waContact::getPhotoUrl($_assignment_creator.id, $_assignment_creator.photo, 96)}" alt="{$_assignment_creator.name|escape}">
                                </a>
                            </div>

                            <div>
                                <i class="fas fa-arrow-right text-light-gray custom-mt-16"></i>
                            </div>

                            <div class="flexbox space-8">
                                {if $task.status_id == -1}
                                    <span class="icon size-48">
                                        <i class="fas fa-check-circle text-light-gray"></i>
                                    </span>
                                    <div class="wide">
                                        <p class="small custom-mb-0 semibold text-gray">
                                            [`Closed`]
                                        </p>

                                        <p class="t-date-wrapper hint nowrap custom-mt-0">{$task.update_datetime|wa_datetime:'humandatetime'}</p>

                                    </div>
                                {else}
                                    <a href="#/tasks/assigned/{$_assigned_contact.id}/{* tasksHelper::getProfileURL($_assigned_contact.id) *}" title="{$_assigned_contact.name|escape}">
                                        <img class="userpic userpic48" src="{waContact::getPhotoUrl($_assigned_contact.id, $_assigned_contact.photo, 96)}" alt="{$_assigned_contact.name|escape}">
                                    </a>
                                    <div class="wide">
                                        <p class="small custom-mb-0">
                                            {if empty($_assigned_contact.delete) && $_assigned_contact.id}
                                                <a href="#/tasks/assigned/{$_assigned_contact.id}/" class="black bold">{$_assigned_contact.name|escape}</a>
                                            {else}
                                                <strong class="gray">[`Unassigned`]</strong>
                                            {/if}
                                        </p>

                                        <p class="t-date-wrapper hint nowrap custom-mt-0">{$task.update_datetime|wa_datetime:'humandatetime'}</p>

                                    </div>
                                {/if}
                            </div>

                        </div>

                    </div>

                    {* MILESTONE & DEADLINE *}
                    <div class="t-task-flag-box">

                        <div class="flexbox space-8 t-task-flag-box-content">
                            {$_milestone = ''}
                            {$_due_date = ''}
                            {$_due_hint = ''}
                            {$_due_class = ''}
                            {if $task.milestone}
                                {$_milestone = $task.milestone.name|escape}
                                {$_due_date = wa_date('humandate', $task.milestone.due_date, waDateTime::getDefaultTimezone())|escape}
                                {$_due_hint = $task.milestone.view.due_text}
                                {$_due_class = $task.milestone.view.due_color_class}
                            {/if}
                            {if $task.due_date}
                                {* manually set due date overrides milestone general due date *}
                                {$_due_date = wa_date('humandate', $task.due_date, waDateTime::getDefaultTimezone())|escape}
                                {$_due_hint = $task.view.due_text}
                                {$_due_class = $task.view.due_color_class}
                            {/if}
                            <a href="#" class="custom-m-8 custom-mr-16{if !$task.milestone && !$task.due_date} text-light-gray{else} text-black{/if}">
                                <span class="icon size-32">
                                    <i class="fas fa-flag-checkered"></i>
                                </span>
                            </a>
                            <div class="wide">
                                <p class="small custom-mb-0">
                                    {if $_milestone}
                                        <strong>{$_milestone}</strong>
                                    {elseif $_due_date}
                                        <span class="badge nowrap squared {$_due_class} custom-mr-4">{$_due_date}</span>
                                        {if $_due_hint}
                                            <span class="small nowrap">{$_due_hint}</span>
                                        {/if}
                                    {else}
                                        <span class="gray nowrap">[`No milestone`]</span>
                                    {/if}
                                </p>
                                <p class="hint custom-mt-0">
                                    {if $_due_date && $_milestone}
                                        <span class="t-due-date-bl badge nowrap squared {$_due_class} custom-mr-4">{$_due_date}</span>
                                        {if $_due_hint}
                                            <span class="small">{$_due_hint}</span>
                                        {/if}
                                    {elseif !$_due_date || $_milestone}
                                        [`No due date`]
                                    {else}
                                        [`No milestone`]
                                    {/if}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- plugin hook: 'backend_task.%plugin_id%.header' -->
                {* @event backend_task.%plugin_id%.header *}
                {foreach $_backend_task_hook as $_}{$_.header|default:''}{/foreach}

            </header>

            <!-- plugin hook: 'backend_task.%plugin_id%.after_header' -->
            {* @event backend_task.%plugin_id%.after_header *}
            {foreach $_backend_task_hook as $_}{$_.after_header|default:''}{/foreach}

            <hr>

            {* TASK BODY *}
            <div class="flexbox space-12 full-width t-task-body" style="position: relative;">

                <h2 class="custom-m-0 wide">

                    {* PRIORITY *}
                    <span class="t-priority-wrapper t-priority-clickable-wrapper {ifset($_priority_class_array[$task.priority])} {$task.project.color}" title="[`Priority`]">
                        {if !empty($_priority_icon)}<span class="icon size-20 baseline">{$_priority_icon}</span>{/if}
                        {$task.project_id}.{$task.number}
                    </span>

                    {* A delimeter between number and name that should get into clipboard when user selects text, but should not be visible *}
                    <span style="position:absolute;left:-100500px;">: </span>

                    {* TITLE *}
                    <span class="t-task-name-wrapper{if $task.status_id == -1} gray{/if}" href="#/task/{$task.project_id}.{$task.number}/">{$task.name|escape|default:"(no name)"}</span>


                    {* STATUS *}
                    {if !empty($task.status.name)}
                            {if $task.project.archive_datetime}
                                <span class="badge t-status-wrapper is-archived"><i class="fas fa-archive fa-xs"></i> [`Archived`]</span>
                            {else}
                                <span>{tasksHelper::statusNameHTML($task.status.id)}</span>
                            {/if}
                    {/if}

                </h2>

                {* ON-CLICK PRIORITY CHANGER *}
                <div class="t-priority-changer-wrapper">
                    <div class="t-priority-changer">
                        <div class="t-slider-wrapper">
                            <div class="t-priority-slider"></div>
                            <input class="t-input" type="hidden" name="data[priority]" value="{$task.priority}">
                        </div>
                        <div class="t-priority-text"></div>
                    </div>
                </div>




                <span class="t-visible-block"></span>

            </div>



            {* TAGS *}
            <div class="t-tags-wrapper custom-mt-16">
                <li class="tag is-template">
                    <a class="t-tag-item" href="javascript:void(0);" data-tag-id="">
                        <i class="fas fa-hashtag"></i>
                        <span></span>
                        <!-- <i class="fas fa-minus-circle t-remove-tag"></i> -->
                    </a>
                </li>

                <ul class="chips small custom-my-0">
                    {foreach $task.tags as $tag_id => $tag_name}
                        <li class="tag">
                            <a class="t-tag-item" href="#/tasks/tag/{$tag_name|escape}/" data-tag-id="{$tag_id|escape}">
                                <i class="fas fa-hashtag"></i>
                                <span>{$tag_name|escape}</span>
                                <i class="fas fa-times-circle t-remove-tag"></i>
                            </a>
                        </li>
                    {/foreach}
                    <li class="t-tag-cloud-widget transparent dropdown" id="t-task-dropdown-add-tag">
                        <a href="javascript:void(0);" class="text-gray dropdown-toggle">
                            [`Add tag`]
                        </a>
                        <div class="dropdown-body custom-p-8" style="min-width: 320px;">

                            {* top tags 'copy-paste #3' *}

                            {$_tag_usage_counts = []}
                            {foreach $tags_cloud as $tag}
                                {$_tag_usage_counts[ $tag.id ] = $tag.count}
                            {/foreach}

                            {capture}{arsort($_tag_usage_counts)}{/capture}

                            {$_top_tags_ids = []}
                            {$_max_tag_visible = 25}
                            {$_i = 0}
                            {foreach $_tag_usage_counts as $_tid => $_tcount}
                                {$_top_tags_ids[ $_tid ] = $_tcount}
                                {if $_i >= $_max_tag_visible}
                                    {break}
                                {/if}
                                {$_i = $_i + 1}
                            {/foreach}

                            {$_hidden_tags_counter = 0}
                            <ul class="chips tags small">
                                {foreach $tags_cloud as $tag}
                                    {$_visible = $tag.id|array_key_exists:$_top_tags_ids}

                                    <li{if !$_visible} class="t-tags-hidden-tag js-tags-hidden-tag"{/if}>
                                        <a class="js-set-tag t-cloud-link"
                                            data-id="{$tag.id}" href="#/tasks/tag/{$tag.name|escape}/"><i class="fas fa-hashtag"></i> {$tag.name|escape}</a>
                                    </li>
                                    {if !$_visible}
                                        {$_hidden_tags_counter = $_hidden_tags_counter + 1}
                                    {/if}
                                {/foreach}

                                {if $_hidden_tags_counter > 0}
                                    <li class="transparent">
                                        <a href="#" style="background: transparent !important; color: rgba(127,127,127,0.5) !important;" class="js-tags-show-all-link">[`Show all tags`]</a>
                                    </li>
                                {/if}
                            </ul>

                            <div class="t-input-wrapper">
                                <input value="" class="t-input js-t-task-tags-autocomplete small" type="text" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"
                                    placeholder="[`Enter new tag...`]">
                            </div>
                        </div>

                        <script>
                            ( function($) {
                                $("#t-task-dropdown-add-tag").waDropdown({
                                    hover: false,
                                });

                                $('.js-tags-show-all-link').on('click', function (e) {
                                    e.preventDefault();
                                    $(this).closest('.tags').find('.js-tags-hidden-tag').show();
                                    $(this).hide();
                                });

                            })(jQuery);
                        </script>

                    </li>
                </ul>
            </div>



            <!-- plugin hook: 'backend_task.%plugin_id%.before_buttons' -->
            {* @event backend_task.%plugin_id%.before_buttons *}
            {foreach $_backend_task_hook as $_}{$_.before_buttons|default:''}{/foreach}

            {* TASK BUTTONS *}
            <div class="t-task-buttons">

                {* PRIMARY ACTION BUTTONS *}
                <div class="t-task-controls flexbox wrap space-12 full-width">
                    <div>
                        <a href="javascript:void(0);" class="t-control-link button light-gray large rounded t-return-link" title="[`Return`]"> <i class="fas fa-arrow-left"></i> [`Return`]</a>
                    </div>
                    <div class="wide">
                        {$task->buttonHtml()}
                        {if $task.next_status && $task.next_status.id != -1 && (($task.contact_id == $wa->user('id') && $task.assigned_contact_id == $task.contact_id) || $task->hasFullAccess())}
                            {$task->buttonHtml(-1)}
                        {/if}
                    </div>
                    <div>
                        <a href="javascript:void(0);" class="t-control-link button light-gray large rounded t-forward-link" title="[`Forward`]"> <i class="fas fa-arrow-right"></i> [`Forward`]</a>
                    </div>
                </div>

                <!-- plugin hook: 'backend_task.%plugin_id%.buttons' -->
                {* @event backend_task.%plugin_id%.buttons *}
                {foreach $_backend_task_hook as $_}{$_.buttons|default:''}{/foreach}

            </div>

            <!-- plugin hook: 'backend_task.%plugin_id%.after_buttons' -->
            {* @event backend_task.%plugin_id%.after_buttons *}
            {foreach $_backend_task_hook as $_}{$_.after_buttons|default:''}{/foreach}

            {* change_status_form HTML *}
            {if !empty($is_single)}
                <div class="t-status-data-container custom-mb-40"></div>
            {/if}

            <!-- plugin hook: 'backend_task.%plugin_id%.before_description' -->
            {* @event backend_task.%plugin_id%.before_description *}
            {foreach $_backend_task_hook as $_}{$_.before_description|default:''}{/foreach}

            {* TASK CONTENT *}
            <div class="t-description-wrapper js-description-wrapper custom-mb-20">

                <div class="t-relations-wrapper">
                    {function insertRelations data=null relation_name=null relation_type=null}
                        <ul class="bordered t-relations-hover-block custom-my-0">
                            {foreach $data as $id => $item}
                                <li data-relation-type="{$relation_type}" data-relation-task="{$id}">
                                    <div class="flexbox full-width middle space-12 small">
                                        <!-- <span class="gray">{$relation_name}:</span> -->
                                        <span class="wide flexbox middle space-8" style="min-width: 0;">
                                            <span title="{$relation_name}" class="small custom-mt-4"><i class="fas fa-link text-light-gray"></i></span>
                                            <a title="{$item['name']|escape}" href="#/task/{$item['project']|escape}.{$item['number']|escape}/" class="t-task-link{if $item['status_id'] < 0} gray{/if}"><strong>{$item['project']|escape}.{$item['number']|escape}</strong> {$item['name']|escape}</a>
                                        </span>
                                        {if !empty($statuses[$item['status_id']])}
                                            <span>{tasksHelper::statusNameHTML($item['status_id'])}</span>
                                        {/if}
                                        {*
                                            legacy
                                            <a class="js-t-invert-relations t-relations-btn js-no-app-icon small" href="javascript:void(0);"><i class="icon10 larr"></i><span>[`invert`]</span></a>&nbsp;
                                        *}
                                        <a class="js-t-delete-relations t-relations-btn js-no-app-icon large" href="javascript:void(0);" title="[`Unlink`]"><i class="fas fa-times-circle text-light-gray"></i></a>
                                    </div>
                                </li>
                            {/foreach}
                        </ul>
                    {/function}
                    {if !empty($task.relations.parents)}
                        {* legacy: 'Parent task' *}
                        {insertRelations data=$task.relations.parents relation_type="parent" relation_name="[`Linked task`]" }
                    {/if}

                    {if !empty($task.relations.childs)}
                        {* legacy: 'Child task' *}
                        {insertRelations data=$task.relations.childs  relation_type="child" relation_name="[`Linked task`]"}
                    {/if}
                </div>

                {tasksTask::formatText($task.text)}

                <!-- plugin hook: 'backend_task.%plugin_id%.description' -->
                {* @event backend_task.%plugin_id%.description *}
                {foreach $_backend_task_hook as $_}{$_.description|default:''}{/foreach}

            </div>

            <!-- plugin hook: 'backend_task.%plugin_id%.after_description' -->
            {* @event backend_task.%plugin_id%.after_description *}
            {*** TODO ENABLED WHEN POCKET LISTS IS WA2-ENABLED foreach $_backend_task_hook as $_}
                {if !empty($_.after_description)}
                    <div class="t-task-embedded-block">
                        {$_.after_description}
                    </div>
                {/if}
            {/foreach ***}

            {* ATTACHMENTS *}
            {if $task.images || $task.files}

                <!-- plugin hook: 'backend_task.%plugin_id%.before_attachments' -->
                {* @event backend_task.%plugin_id%.before_attachments *}
                {foreach $_backend_task_hook as $_}{$_.before_attachments|default:''}{/foreach}

                <div class="t-attach-wrapper">
                    {if $task.images}
                        <div class="t-attached-files-wrapper">
                            <div class="t-attach-list-block">
                                <div class="t-images-list">
                                    {foreach $task.images as $image}
                                        <div class="t-image-item">
                                            <a class="t-image-link wa-gallery-image" href="?module=attachments&action=download&id={$image.id}" target="_blank" title="{$image.name|escape}">
                                                <img src="{tasksHelper::getAttachPreviewUrl($image)}" alt="{$image.name|escape}">
                                            </a>
                                            <div class="t-file-name" title="{$image.name|escape}">{$image.name|escape}</div>
                                        </div>
                                    {/foreach}
                                </div>
                            </div>
                        </div>
                    {/if}
                    {if $task.files}
                        <div class="t-attached-files-wrapper">
                            <div class="t-attach-list-block">
                                <div class="t-files-list">
                                    {foreach $task.files as $file}
                                        <div class="t-file-item">
                                            <a class="t-file-link" href="?module=attachments&action=download&id={$file.id}" target="_blank" title="{$file.name|escape}">
                                                <i class="fas fa-cloud-download-alt custom-mr-4"></i>
                                                <span class="t-file-name">{$file.name|escape}</span>
                                                <span class="t-file-size">{$file.size|wa_format_file_size}</span>
                                            </a>
                                        </div>
                                    {/foreach}
                                </div>
                            </div>
                        </div>
                    {/if}

                    <!-- plugin hook: 'backend_task.%plugin_id%.attachments' -->
                    {* @event backend_task.%plugin_id%.attachments *}
                    {foreach $_backend_task_hook as $_}{$_.attachments|default:''}{/foreach}

                </div>

                <!-- plugin hook: 'backend_task.%plugin_id%.after_attachments' -->
                {* @event backend_task.%plugin_id%.after_attachments *}
                {*** TODO ENABLED WHEN POCKET LISTS IS WA2-ENABLED foreach $_backend_task_hook as $_}
                    {if !empty($_.after_attachments)}
                        <div class="t-task-embedded-block">
                            {$_.after_attachments}
                        </div>
                    {/if}
                {/foreach ***}

            {/if}

            <h3 class="custom-mt-32">[`History &amp; Comments`] <span class="hint">{count($task.log)}</span></h3>

            <!-- plugin hook: 'backend_task.%plugin_id%.before_hidden_block' -->
            {* @event backend_task.%plugin_id%.before_hidden_block *}
            {foreach $_backend_task_hook as $_}{$_.before_hidden_block|default:''}{/foreach}

            {* COMMENT LIST *}
            <div class="t-full-content">

                <div class="t-comments-list-wrapper js-comments-list-wrapper">
                    {foreach $task.log as $l}
                        <div class="t-comment-item-wrapper custom-mb-20 {if $l.contact_id == $wa->user()->getId()}t-comment-item-wrapper--right{/if}" data-id="{$l.id}">

                            {$_rights_info = $l.rights_info|default:[]}
                            {$_can_edit = $_rights_info.can_edit|default:false}
                            {$_can_delete = $_rights_info.can_delete|default:false}

                            {$log_attachments = $task->getLogAttachments($l.id)}
                            {$log_attachments_count = count($log_attachments.files) + count($log_attachments.images)}

                            {$_is_comment = $l.action == tasksTaskLogModel::ACTION_TYPE_COMMENT}
                            {$_is_forward = $l.action == tasksTaskLogModel::ACTION_TYPE_FORWARD}

                            {$_empty_log_item = empty($l.text) && $log_attachments_count <= 0}

                            {if $_is_forward}
                                {$_can_edit = $_can_edit && !$_empty_log_item}
                            {/if}

                            <div class="t-comment-item flexbox space-8 {if $task.comment_log_id == $l.id}t-pinned-comment{/if}" data-id="{$l.id}">
                                <div class="image">
                                    <a href="{if !empty($l.contact.id)}#/tasks/assigned/{$l.contact.id}/{* tasksHelper::getProfileURL($l.contact.id) *}{else}javascript:void(0);{/if}" title="{$l.contact.name|escape}">
                                        {if !empty({$l.contact.photo_url})}
                                            <img class="userpic userpic-32" src="{$l.contact.photo_url}" alt="{$l.contact.name|escape}">
                                            {else}
                                            <img class="userpic userpic-32" src="/wa-content/img/userpic96@2x.jpg">
                                        {/if}
                                    </a>
                                </div>
                                <div class="details">
                                    <header class="t-comment-header flexbox full-width middle space-8">
                                        <div class="wide flexbox wrap space-4">
                                            <span class="t-comment-author small">
                                                <a href="{if !empty($l.contact.id)}#/tasks/assigned/{$l.contact.id}/{* tasksHelper::getProfileURL($l.contact.id) *}{else}javascript:void(0);{/if}" class="bold">{$l.contact.name|escape}</a>
                                            </span>
                                            {if $l.action == 'edit' || $l.action == 'comment' || $l.action == 'forward'}
                                                <span class="t-comment-action small">{$l.action_name}</span>
                                            {/if}
                                            <span class="t-comment-date nowrap hint middle">{$l.create_datetime|wa_datetime:"humandatetime"}</span>
                                        </div>

                                        {* MARK LAST NOT EMPTY FORWARD LOG ITEM *}
                                        {if $_is_forward && !$_empty_log_item && $task.assign_log_id && $task.assign_log_id == $l.id}
                                            <span><i class="fas fa-bolt"></i></span>
                                        {/if}

                                        {if $_is_comment}
                                            {if !($task.comment_log_id == $l.id)}
                                                <a href="javascript:void(0);" class="t-assign-comment-link button rounded white small nowrap" data-id="{$l.id}">
                                                    <i class="fas fa-thumbtack"></i> <span class="small">[`Pin`]</span>
                                                    <!-- <i class="icon16 loading t-loading"></i> -->
                                                </a>
                                            {else}
                                                <span class="small gray nowrap"><i class="fas fa-thumbtack"></i> [`Pinned`]</span>
                                            {/if}
                                        {/if}

                                        {if $_can_edit && $l.contact_id == $wa->user()->getId()}
                                            <a href="javascript:void(0);" class="t-comment-edit-link button circle light-gray small" data-id="{$l.id}"><i class="fas fa-edit text-blue"></i></a>
                                        {/if}

                                        {if $_can_delete}
                                            <a href="javascript:void(0);" class="t-comment-delete-link button circle light-gray small" data-id="{$l.id}"><i class="fas fa-trash-alt text-red"></i></a>
                                        {/if}

                                    </header>

                                    {if $l.status_changed}
                                        <div class="t-comment-status-change small gray">
                                            {if $l.before_status_id}{tasksHelper::statusNameHTML($l.before_status_id)} → {/if}{tasksHelper::statusNameHTML($l.after_status_id)}
                                        </div>
                                    {/if}

                                    {if !empty($l.text)}
                                        <div class="t-comment-content custom-mt-8">{tasksTask::formatText($l.text)}</div>
                                    {/if}

                                    {if $l.assignment_changed}
                                        {if $l.assigned_contact_id}
                                            <div class="t-comment-assignment-change small gray">
                                                [`Assigned:`] <strong>{$l.assigned_contact.name|escape}</strong>
                                            </div>
                                        {else}
                                            <div class="t-comment-assignment-change small gray">
                                                [`Assignment removed`]
                                            </div>
                                        {/if}
                                    {/if}

                                    {if $log_attachments.files || $log_attachments.images}
                                        <div class="t-attach-wrapper">
                                            <div class="t-attached-files-wrapper">
                                                {if $log_attachments.images}
                                                    <div class="t-images-list">
                                                        {foreach $log_attachments.images as $image}
                                                            <div class="t-image-item">
                                                                <a class="t-image-link wa-gallery-image" href="?module=attachments&action=download&id={$image.id}" title="{$image.name|escape}">
                                                                    <img src="{tasksHelper::getAttachPreviewUrl($image)}" alt="{$image.name|escape}">
                                                                </a>
                                                                <div class="t-file-name" title="{$image.name|escape}">{$image.name|escape}</div>
                                                            </div>
                                                        {/foreach}
                                                    </div>
                                                {/if}
                                                {if $log_attachments.files}
                                                    <div class="t-files-list">
                                                        {foreach $log_attachments.files as $file}
                                                            <div class="t-file-item" data-file-ident="{$file.id}">
                                                                <a class="t-file-link" href="?module=attachments&action=download&id={$file.id}" title="{$file.name|escape}">
                                                                    <i class="fas fa-cloud-download-alt custom-mr-4"></i>
                                                                    <span class="t-file-name">{$file.name|escape}</span>
                                                                    <span class="t-file-size">{$file.size|wa_format_file_size}</span>
                                                                </a>
                                                            </div>
                                                        {/foreach}
                                                    </div>
                                                {/if}
                                            </div>
                                        </div>
                                    {/if}
                                </div>
                            </div>

                            {if $_can_edit}
                                <div class="t-comment-edit-form-wrapper" style="display: none;"></div>
                            {/if}
                        </div>
                    {foreachelse}
                        <p class="hint">[`There are no comments for this task yet.`]</p>
                    {/foreach}
                </div>

                {* ADD COMMENT FORM *}
                {include file="./TaskCommentForm.inc.html"
                    post_action_url="?module=tasksComments&action=add&task_id={$task.id}"
                inline}

                <!-- plugin hook: 'backend_task.%plugin_id%.hidden_block' -->
                {* @event backend_task.%plugin_id%.hidden_block *}
                {foreach $_backend_task_hook as $_}{$_.hidden_block|default:''}{/foreach}

            </div>

            <!-- plugin hook: 'backend_task.%plugin_id%.after_hidden_block' -->
            {* @event backend_task.%plugin_id%.after_hidden_block *}
            {foreach $_backend_task_hook as $_}{$_.after_hidden_block|default:''}{/foreach}

        </div>

    </div>

    {* CONTAINER FOR DYNAMIC AJAX FORMS *}
    <div class="t-status-form-wrapper">
        <!-- <i class="icon16 loading"></i> -->
    </div>

    {* LINK FOR TABLE VIEW *}
    {$_list_view_type = $list_vie_type|default:''}
    {if $_list_view_type == "table"}
        <a class="t-open-task-link" href="#/task/{$task.project_id}.{$task.number}/"></a>
    {/if}

    {$_files_hash = md5(uniqid($task.id, true))}

    {$_ignore_js = $ignore_js|default:false}

    {if !$_ignore_js}
        <script>(function() { "use strict";
            var task = {
                id: {$task.id|json_encode},
                tags: {$task.tags|json_encode},
                priority: {$task.priority|json_encode},
                assigned_contact_id: {$task.assigned_contact_id|json_encode}
            };
            Tasks[task.id] = new Task({
                $task: $("#task-{$task.id}"),
                task: task,
                tags: {$task.tags|json_encode},
                priority: "{$task.priority}",
                show_status_form: {$task->hasStatusForm()|json_encode},
                time_since_update_period: {$time_since_update_period|json_encode},
                time_since_update_template: {$time_since_update_template|json_encode},
                files_hash: {$_files_hash|json_encode},
                user_id: {$wa->user('id')|json_encode}
            });
        })();</script>
    {/if}
</div>
{/strip}
