{strip}
<div class="t-status-form-block" id="status-form-wrapper-{$task.id}">
    <form action="?module=tasksLog">

        <input type="hidden" name="id" value="{$task.id}">
        <input type="hidden" name="status_id" value="{$next_status.id}">

        {if ifempty($next_status.params.assign) == 'select'}
            <div class="fields">
                <div class="field">
                    <div class="name for-input">[`Assign to`]</div>
                    <div class="value">
                        <div class="wa-select">
                            <select name="assigned_contact_id">
                                {if !empty($next_status.params.allow_clear_assign)}
                                    <option value="0">[`Unassigned`]</option>
                                {/if}
                                {foreach tasksHelper::getTeam($task.project_id) as $u}
                                    <option value="{$u.id}"{if $u.id == $task.contact_id} selected{/if}>{$u.name|escape}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        {/if}

        {if !empty($next_status.params.allow_comment)}
            <div class="custom-mt-16">
                {include file="./TaskStatusForm.DropArea.html" inline}
            </div>
        {/if}

        {if !empty($custom_html)}
            {foreach $custom_html as $plugin_id => $variants}
                {foreach $variants as $variant}
                    {$variant}
                {/foreach}
            {/foreach}
        {/if}

        <input type="submit" class="button large" value="{$next_status.button|escape}" style="background: #{$next_status.params.button_color|escape}; color: #{$next_status.params.title_color|escape};">

    </form>
</div>

<script>
    (function ($) {
        if ($.tasks.options.text_editor === 'wysiwyg') {
            $R('#status-form-wrapper-{$task.id} .t-redactor-comments', {
                'focus': true,
                minHeight: '150px',
                imageData: {
                    task_uuid: '{$task.uuid}'
                }
            });
        }
    })(jQuery);
</script>

{/strip}
