{strip}

{$ident = rand(0, 1024)}

<div class="t-return-form-block" id="return-wrapper-{$ident}">
    <form method="post" action="?module=tasksLog&action=return&id={$task.id}">
    <div class="fields">
        <div class="field">
            <div class="name">[`Status`]</div>
            <div class="value">{$task.return_status.name|escape}</div>
        </div>
        <div class="field">
            <div class="name">[`Return to`]</div>
            <div class="value">
                <div class="flexbox middle space-8">
                    <i class="userpic userpic-32" style="background-image: url({$task.return_actor->getPhoto(40, 40)})"></i>
                    <span>{$task.return_actor->getName()|escape}</span>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="name">[`Comment`]</div>
            <div class="value">
                <input type="hidden" name="prev_status_id" value="{$task.return_status.id}">
                <input type="hidden" name="prev_actor_contact_id" value="{$task.return_actor.id}">

                {include file="./TaskStatusForm.DropArea.html" inline}

            </div>
        </div>
        <div class="field t-buttons-block">
            <div class="name"></div>
            <div class="value">
                <input type="submit" class="button green" value="[`Return`]">
                &nbsp;[`or`]&nbsp;
                <a class="t-hiddenform-cancel-link" href="javascript:void(0);">[`cancel`]</a>
            </div>
        </div>
    </div>
    </form>
</div>

<script>
    (function ($) {
        $R('#return-wrapper-{$ident} .t-redactor-comments', { 
            'focus': true,
            imageData: {
                task_uuid: '{$task.uuid}'
            }
        });
    })(jQuery);
</script>

{/strip}

