{$is_in_my_list = $list && $list.is_own && $list.found_by_id}

<div class="flexbox">
    <div class="sidebar blank width-25rem bordered-right {if $total_count < 1}overflow-visible{/if}"> 
        
        <div class="t-main-wrapper">

            {$_backend_tasks_hooks = $backend_tasks_hooks|default:[]}
            {$_backend_body_hooks = $backend_tasks_hooks.body|default:[]}

            <!-- plugin hook: 'backend_tasks.%plugin_id%.body.top' -->
            {* @event backend_tasks.%plugin_id%.body.top *}
            {foreach $_backend_body_hooks as $_}{$_.top|default:''}{/foreach}

            <header class="t-header-wrapper">
                {include file="./TasksHeader.html" inline}
            </header>
            <script>(function() { "use strict";
                window.Tasks = { };
                window.tasksHeader = new TasksHeader({
                    total_count: {$total_count|json_encode},
                    is_in_my_list: {$is_in_my_list|json_encode},
                    messages: {
                        cant_create_list: "[`Cannot create a list from another list.`]",
                        tasks_count: {_w('%d task','%d tasks', $total_count)|json_encode},
                        no_tasks: {_w('no tasks')|json_encode},
                    }
                });
            })();</script>

            {if $tasks}
                <div class="t-tasks-wrapper is-{$list_view_type}" id="t-tasks-wrapper">
                    <ul class="list">
                    {foreach $tasks as $task}{strip}

                        {include file="./includes/TasksTaskHelpers.inc.html" inline}

                        {$_task_number = $task.project_id|cat:'.'|cat:$task.number}
                        {$_task_link = '#/task/'|cat:$_task_number|cat:'/'}
                        <li class="item t-task-outer-container {$task.project.color}"
                            data-task-id="{$task.id}"
                            data-task-number="{$_task_number}"
                            data-task-uuid="{$task.uuid}"
                        >
                            <div class="t-checkbox-column">
                                <input type="checkbox" class="t-checkbox-item">
                            </div>
                            <a href="{$_task_link}" class="image">

                                {task_userpics_block}

                                {* PROJECT ICON *}
                                {if !empty($task.project.icon_html)}
                                    {strip}<span class="t-project-icon">
                                        {$task.project.icon_html}
                                    </span>{/strip}
                                {/if}

                            </a>
                            <a href="{$_task_link}" class="details">
                                <div class="flexbox space-8">


                                    <span>

                                        {* PRIORITY *}

                                        {$_priority_class_array = [
                                        "-1" => "is-low",
                                        "0" => "is-normal",
                                        "1" => "is-high",
                                        "2" => "is-urgent"
                                        ]}
                                        {$_priority_icon = ""}
                                        {if !empty($task.priority)}
                                            {if $task.priority == '-1'}
                                                {$_priority_icon = "<i class=\"fas fa-thumbs-down\" style=\"color: var(--light-gray);\"></i>"}
                                            {/if}
                                            {if $task.priority == '1'}
                                                {$_priority_icon = "<i class=\"fas fa-exclamation-triangle\" style=\"color: gold;\"></i>"}
                                            {/if}
                                            {if $task.priority == '2'}
                                                {$_priority_icon = "<i class=\"fas fa-exclamation-triangle\" style=\"color: orangered;\"></i>"}
                                            {/if}
                                            {if $task.priority == '3'}
                                                {$_priority_icon = "<i class=\"fas fa-fire\" style=\"color: black;\"></i>"}
                                            {/if}
                                            {if $task.priority == '4'}
                                                {$_priority_icon = "<i class=\"fas fa-fire\" style=\"color: orangered;\"></i>"}
                                            {/if}
                                        {/if}

                                        <span class="t-priority-wrapper {ifset($_priority_class_array[$task.priority])}" title="task_id={$task.id}" title="[`Double-click to change task priority`]">
                                            {$_priority_icon}
                                            {$task.project_id}.{$task.number}
                                        </span>

                                        {* TITLE *}
                                        <span class="semibold">{$task.name|escape|default:"(no name)"|truncate:64}</span>

                                    </span>

                                    <span class="count align-right">
                                        {* This vars will be mutated by tasksHelper::getDatetime, must be inited first because of Smary & PHP 7.4 cause the warnings otherwise *}
                                        {$time_since_update_period = null}
                                        {$time_since_update_template = null}
                                        {$time_since_update_str = tasksHelper::getDatetime($task.update_datetime, $time_since_update_period, $time_since_update_template)}

                                        <span class="small gray nowrap">{$time_since_update_str}</span>

                                    </span>
                                </div>

                                <p class="hint">

                                    {* STATUS *}
                                    {if !empty($task.status.name)}
                                        {* DATA *}
                                        {$_status_class_array = []}
                                        {$_styles_array = []}

                                        {if !$task.project.archive_datetime}
                                            {if !empty($task.status.params.title_color)}
                                                {$_color = $task.status.params.title_color}
                                                {$_styles_array[] = "color: #{$_color};"}
                                            {/if}
                                            {if !empty($task.status.params.button_color)}
                                                {$_background = $task.status.params.button_color}
                                                {$_styles_array[] = "border-color: #{$_background};"}
                                                {$_styles_array[] = "background: #{$_background};"}
                                            {/if}
                                        {/if}

                                        {if $task.project.archive_datetime}
                                            {$_status_class_array[] = "is-archived"}
                                        {elseif $task.status_id == -1}
                                            {$_status_class_array[] = "is-done"}
                                        {elseif $task.status_id == 0}
                                            {$_status_class_array[] = "is-new"}
                                        {elseif $task.status_id > 0}
                                            {$_status_class_array[] = "is-custom"}
                                        {/if}

                                        {* RENDER *}
                                        <span class="badge t-status-wrapper {$_status_class_array|join:" "}" style="{$_styles_array|join:""}" title="[`Status`]">
                                            {if $task.status_id < 0}<span class="smaller"><i class="fas fa-check"></i></span>{/if}
                                            {if $task.project.archive_datetime}[`Archived`]{else}{$task.status.name}{/if}
                                        </span>
                                    {/if}

                                    {* PREVIEW *}
                                    {$task.text|truncate:128}

                                </p>
                            </a>
                        </li>


                    {/strip}{/foreach}
                    </ul>

                    <div id="end-of-tasks" class="box small gray align-center">
                        <p>
                            <span class="js-tasks-list-counter">{sprintf("[`%s of %d`]", _w('%d task','%d tasks', $offset + $count), $total_count)}</span>
                            {if $click_to_load_more && $next_page_url}
                                <span class="click-to-load-more"><a href="javascript:void(0)">[`Load more...`]</a></span>
                            {/if}
                            <span class="hidden loading-indicator"><i class="icon16 loading"></i></span>
                        </p>
                        <script>(function($) { "use strict";
                            {* Note that this script has to be inside #t-tasks-wrapper for lazy loading to work correctly. *}
                            $.tasks.initLazyloader({
                                lazyloading_wrapper: $('#end-of-tasks'),
                                next_page_url: {$next_page_url|json_encode},
                                is_lazy: {if $click_to_load_more}false{else}true{/if},
                                list_selector: '#t-tasks-wrapper',
                                item_id_data_attr: 'task-id'
                            });
                            {* Init PrettyPrint on Tasks List *}
                            $.tasks.initPrettyPrint();
                        })(jQuery);</script>
                    </div>
                </div>
            {else}
                <div class="t-notice-list">
                    <div class="t-notice-wrapper {$emptymsg.name|escape} is-shown">
                        <div class="t-image">
                            <img src="{$emptymsg.img_url|escape}" alt="">
                        </div>
                        <h3 class="t-header">{$emptymsg.title|escape}</h3>
                        <p class="t-desc">{$emptymsg.message|escape}</p>
                    </div>
                </div>
            {/if}

            <!-- plugin hook: 'backend_tasks.%plugin_id%.body.bottom' -->
            {* @event backend_tasks.%plugin_id%.body.bottom *}
            {foreach $_backend_body_hooks as $_}{$_.bottom|default:''}{/foreach}

        </div>


    </div>
    <div class="content" id="task-preview-wrapper">

            <div class="box align-center" style="margin-top: 30vh;">
                <span style="opacity: 0.1; font-size: 20rem;"><i class="fas fa-tasks"></i></span>
            </div>

    </div>
</div>

{if !empty($updater_url)}
    <script data-updater-url="{$updater_url|escape}" id="task-list-updater-script">(function() { "use strict";
        $.tasks.initTasksUpdater({$updater_url|json_encode});
    })();</script>
{/if}

<script>
    (function (){
        $('.t-tasks-wrapper').on('click', '.item[data-task-number]', function (e) {
            e.preventDefault();
            var $link = $(this),
                number = $link.data('task-number'),
                $taskWrapper = $('#task-preview-wrapper');
                $taskSkeletonContainer = $('#taskSkeleton');

            $taskWrapper.html($taskSkeletonContainer.html());

            $.get('?module=tasks&action=info&n=' + number, function (html) {
                $taskWrapper.html(html);
                window.TasksController.skipDispatch = 1;
                window.TasksController.setHash('/task/' + number + '/');
            });
        })
    }())
</script>
