{strip}

<div class="t-priority-multi-changer" id="t-priority-multi-changer">
    <h2>[`Change priority`]</h2>
    <div class="t-priority-changer">
        <div class="t-slider-wrapper">
            <div class="t-priority-slider"></div>
            <input class="t-input" type="hidden" name="data[priority]" value="0">
        </div>
        <div class="t-priority-text"></div>
    </div>

    <div class="buttons-wrapper">
        <input class="button blue" type="submit" value="[`Set priority`]">
        <span> [`or`] </span>
        <a href="javascript:void(0)" class="cancel">[`cancel`]</a>
    </div>
</div>

{/strip}