{strip}

{if $ui == '2.0'}

    <style>
        .t-doingnow-content-wrapper {
            position: absolute;
            overflow-y: auto;
            top: 3.4rem;
            right: 1rem;
            bottom: 0;
            left: 1rem;
        }
        .t-status-wrapper.is-new{ border-color:var(--green); background:var(--green); color:var(--white); }
        .t-status-wrapper.is-done{ border-color:var(--light-gray); background:var(--light-gray); color:#fff; }
        .t-status-wrapper.is-archived{ border-color:var(--brown) !important; background:var(--brown) !important; color:var(--white) !important; }
    </style>

    {if !empty($users)}

        <div class="flexbox middle space-8 custom-p-16">
            <img src="/wa-apps/tasks/img/tasks.png" width="20" height="20" alt="" />
            <div class="nowrap"><strong class="gray uppercase">{_wp($title)|escape}</strong></div>
        </div>

        <div class="t-doingnow-content-wrapper hide-scrollbar">
            <ul class="menu custom-m-0">
                {foreach $users as $user}
                    <li class="custom-mb-16">
                        <div class="flexbox space-8">
                            <i class="userpic userpic-32" style="background-image: url('{$user.contact.photo_url}')"></i>
                            <div class="wide">
                                <div class="flexbox middle custom-mb-8">
                                    <span class="wide">{$user.contact.name|escape}</span>
                                    <span class="small">

                                        <span class="count align-right gray semibold">

                                            {* This vars will be mutated by tasksHelper::getDatetime, must be inited first because of Smary & PHP 7.4 cause the warnings otherwise *}
                                            {$time_since_update_period = null}
                                            {$time_since_update_template = null}
                                            {$time_since_update_str = tasksHelper::getDatetime($user.last_log.create_datetime, $time_since_update_period, $time_since_update_template)}

                                            {* js updateTimeCounter fix *}
                                            {$time_since_update_str = str_replace('mins', 'min', $time_since_update_str)}

                                            <span data-since='{$user.last_log.create_datetime|wa_datetime:"Y-m-d H:i:s"}'>{$time_since_update_str}</span>

                                        </span>

                                    </span>
                                </div>
                                <div class="small">
                                    <a href="{rtrim($url_root_absolute, '/')}{$wa_backend_url}tasks/#/task/{$user.last_log.project_id}.{$user.last_log.task_number}/" target="_blank"><span class="semibold">{tasksHelper::statusNameHTML($user.last_log.after_status_id)} {$user.last_log.project_id}.{$user.last_log.task_number} {$user.last_log.task_name|truncate:128}</span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                {/foreach}
            </ul>
        </div>

    {else}

        <div class="t-doingnow-content-wrapper hide-scrollbar" style="top: 1rem;">
            <div class="align-center custom-mt-40">
                <i class="fas fa-bolt" style="font-size: 5rem; color: var(--light-gray);"></i>
                <div class="gray custom-mt-20">
                    <h5 class="custom-mb-12 gray">[`Latest on tasks`]</h5>
                    <p class="custom-mt-12 custom-px-12">[`See which tasks your teammates had been working on lately.`]</p>
                </div>
            </div>
        </div>

    {/if}

{else}

    {* 1.3 LEGACY *}

    <style>{include file='../css/doingnow.css' inline}</style>

    <div class="t-doingnow-widget-wrapper">
        <div class="text-wrapper">
            <h6 class="heading nowrap">{_wp($title)|escape}</h6>
            <ul class="t-doingnow-list">
                {foreach $users as $user}
                    <li class="h-author-wrapper">
                        <div class="h-author">
                            <span class="h-icon" style="background-image: url('{$user.contact.photo_url}')"></span>
                            <span class="h-name">{$user.contact.name|escape}</span>
                            <span class="h-count hint">
                                {wa_date('humandate', $user.last_log.create_datetime, waDateTime::getDefaultTimezone())|escape}
                            </span>
                        </div>
                        <div style="font-size: 0.8em;margin-top: .2rem;"><a href="{rtrim($url_root_absolute, '/')}{$wa_backend_url}tasks/#/task/{$user.last_log.project_id}.{$user.last_log.task_number}/" target="_blank" class="no-underline">{$user.last_log.project_id}.{$user.last_log.task_number} {$user.last_log.task_name|truncate:128}</a></div>
                    </li>
                {/foreach}
            </ul>
        </div>

    </div>

{/if}

{/strip}
