{include inline file='./includes/Header.inc.html'}

{include file="./Helpers.inc.html" inline}

{if $to.id == $log.assigned_contact_id}
    {if $to.id == $task.create_contact_id}
        {* MUST NEVER HAPPENED, BUT JUST IN CASE  *}
        {sprintf('[`User %s sent you your task`]', $from.name|escape)}
    {else}
        {sprintf('[`User %s sent you a new task`]', $from.name|escape)}
    {/if}
{else}
    {$_assigned_contact = $log.assigned_contact|default:null}
    {if $_assigned_contact}
        {sprintf('[`User %s sent a new task to user %s`]', $from.name|escape, $_assigned_contact.name|escape)}
    {else}
        {sprintf('[`User %s sent a new task to user %s`]', $from.name|escape, 'contact with id = '|cat:$assigned_contact.id)}
    {/if}
{/if}

<br>
<br>

{project_title}
{task_title}
{priority_title}
{tags_title}

{task_block}

{log_block}

{include inline file='./includes/Footer.inc.html'}
