<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {$_app_name = $wa->appName(true)}
    {$_account_name = $wa->accountName(true)}
    {$_title = $wa->title()|escape}
    {$loc = explode('_', $wa->locale())}
    <title>{$wa->title()|default:$_app_name} — {$_account_name}</title>

    {strip}{$priorities = []}
    {foreach $wa->tasks->config('priorities') as $priority}
        {$priorities[$priority.value] = _w($priority.name)|escape}
    {/foreach}{/strip}
    <script src="{$wa_app_static_url}js/tasks.js?v{$wa->version()}"></script>
    <script>window.TasksController.initBeforeJQuery({
        accountName: {$wa->accountName(false)|json_encode},
        priorities: {$priorities|json_encode},
        app_icons: {$app_icons|json_encode},
        contact_id: {$wa->user('id')},
        is_admin: {if !empty($is_admin)}{$is_admin}{else}0{/if},
        text_editor: {$text_editor|json_encode}
    });</script>

    {$wa->css()}
    <link href="{$wa_app_static_url}js/vendors/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="{$wa_app_static_url}css/tasks.min.css?v=wa2{$wa->version()}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{$wa_url}wa-content/js/farbtastic/farbtastic.css" type="text/css" />
    <link rel="stylesheet" href="{$wa_app_static_url}js/waGallery/waGallery.css" type="text/css" />
    <link rel="stylesheet" href="{$wa_url}wa-content/js/prettify/prettify.css" type="text/css" />

    <script src="{$wa_url}wa-content/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="{$wa_url}wa-content/js/jquery/jquery-migrate-1.2.1.min.js" async></script>
    <script src="{$wa_url}wa-content/js/prettify/prettify.js"></script>

    <script src="{$wa_url}wa-content/js/jquery-wa/wa.js?v={$wa->version(true)}"></script>
    <script src="{$wa_app_static_url}js/tasks.min.js?v=wa2{$wa->version()}"></script>

    {if $text_editor === "wysiwyg"}
    <link rel="stylesheet" href="{$wa_app_static_url}js/vendors/redactor-3-4-11/redactor.min.css">
    <link rel="stylesheet" href="{$wa_app_static_url}js/vendors/redactor-3-4-11/plugins/mdeditor/mdeditor.css">
    <link rel="stylesheet" href="{$wa_app_static_url}js/vendors/redactor-3-4-11/plugins/watags/watags.css">

    <script src="{$wa_app_static_url}js/vendors/redactor-3-4-11/redactor.min.js"></script>
    <script src="{$wa_app_static_url}js/vendors/redactor-3-4-11/langs/{$loc[0]}.js"></script>
    <!-- markdown-it and turndown are dependencies for mdeditor -->
    <script src="{$wa_app_static_url}js/vendors/redactor-3-4-11/plugins/mdeditor/markdown-it.min.js"></script>
    <script src="{$wa_app_static_url}js/vendors/redactor-3-4-11/plugins/mdeditor/turndown.js"></script>
    <script src="{$wa_app_static_url}js/vendors/redactor-3-4-11/plugins/mdeditor/mdeditor.js"></script>
    <script src="{$wa_app_static_url}js/vendors/redactor-3-4-11/plugins/watags/watags.js"></script>
    <script src="{$wa_app_static_url}js/vendors/redactor-3-4-11/plugins/imgupload/imgupload.js"></script>
    <script>
        $R.options = {
            lang: '{$loc[0]}',
            buttons: ['format', 'bold', 'italic', 'deleted', 'ol', 'ul', 'link', 'image'],
            formatting: ['p', 'h3', 'h4', 'h5'],
            source: false,
            minHeight: '20vh',
            plugins: ['mdeditor', 'watags', 'imgupload'],
            tagsHandle: '?action=tagsatcmpl',
            tagsHandleTrigger: '#',
            linkSize: 120,
            shortcutsAdd: {
                'shift+tab': {
                    api: 'module.list.outdent'
                },
            }
        };
    </script>
    {/if}

    {$wa->js()}
    {if $wa->locale() != 'en_US'}
        <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/i18n/jquery.ui.datepicker-{$wa->locale()}.js" async></script>
    {/if}

    {* @event backend_assets.%plugin_id% *}
    {foreach $backend_assets as $item}
        {$item}
    {/foreach}

</head>
<body>
    <div id="wa">
        {$wa->header()|replace:'></script>':' async></script>'}
        <div id="wa-app">
            <div class="flexbox wrap-mobile">
                {* SIDEBAR *}
                <aside class="t-sidebar-wrapper sidebar mobile-friendly width-adaptive flexbox wa-gradient-overlay-light" id="sidebar">
                    <nav class="sidebar-mobile-toggle">
                        <div class="box align-center">
                            <a href="#" href="javascript:void(0);">
                                <i class="fas fa-bars"></i>
                                [`Menu`]
                            </a>
                        </div>
                    </nav>
                    {include file="./Sidebar.html" inline}
                </aside>

                {* MAIN CONTENT *}
                <main class="t-content-wrapper content blank">
                    <div id="content" data-loading-string="">
                        <div id="loaderPlace"></div>
                    </div>
                </main>
            </div>
        </div>
        {* DRAGOVER NOTICE *}
        <div class="f-file-dragover-wrapper">
            <div class="f-message-wrapper">[`Drop anywhere to upload`]</div>
        </div>
    </div>

    {if $user_has_minimum_access}
    <a class="add-task-link circle button largest mobile-only" href="#/add/">
        <i class="fas fa-plus"></i>
    </a>
    {/if}

    <div id="taskSkeleton" style="display: none;">
        {include file="../tasks/includes/TasksSkeleton.inc.html" inline}
    </div>

    <div id="tasksListSkeleton" style="display: none;">
        {include file="../tasks/includes/TasksListSkeleton.inc.html" inline}
    </div>

    <script>
        (function() {
            var $loaderPlace = document.querySelector('#loaderPlace');
            if($loaderPlace){
                $loaderPlace.innerHTML =
                    window.loadingEntity === 'task'
                    ? document.querySelector('#taskSkeleton').innerHTML
                    : window.loadingEntity === 'list'
                    ? document.querySelector('#tasksListSkeleton').innerHTML
                    : '<i class="icon16 loading"></i>';
            }
        })();
    </script>

    <script>$.wa.locale = $.extend($.wa.locale || {}, {
        'Search': "[`Search`]",
        'Either text or attachment is required to add comment.': "[`Either text or attachment is required to add comment.`]",
        'return': "[`Return`]",
        'forward': "[`Forward`]",
        'status': "[`Status`]",
        'hidden': "[`Hidden`]",
        'unassigned': "[`Nobody`]",
        'invite': "[`Invite`]",
        'mins': "[`%d min`]",
        'hr': "[`%d hr`]",
        'me': "[`me`]",
        'publicLinksError400': "[`publicLinksError400`]",
        'copied': "[`copied`]",
    });</script>
    <script>window.TasksController.init();</script>

    {if $wa->isMobile()}
    <script>
        (function ($) {
                var $sidebar = $('#sidebar').waShowSidebar(),
                    sidebarInst = $sidebar.data('sidebar');

                window.onhashchange = function () {
                    window.scrollTo(0, 0);
                    sidebarInst.$sidebar_content.hide();
                };
            })(jQuery);
    </script>
    {/if}

</body>
</html>
